<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>

<body class="index-page sidebar-collapse">
	<header th:replace="layouts/layout :: header"></header>
	<div th:replace="layouts/layout :: encabezado"></div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<div class="col-md-12">
					
				
					<h2>Estudiantes</h2>
					<a class="btn btn-primary" th:href="@{/persona/registro}">Crear Persona</a>
					<table id="myTable" class="row-border" style="width:100%">
						<thead>
							<tr>
								<th>tipo persona</th>
								<th>tipo documento</th>
								<th>documento</th>
								<th>nombres</th>
								<th>apellidos</th>
								<th>email</th>
								<th>direccion</th>
								<th>telefono</th>
								<th>acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${personas}">
								<td th:text="${p.tipoPersona.tipoPersona}"></td>
								<td th:text="${p.tipoDocumento.tipoDocumento}"></td>
								<td th:text="${p.numeroDocumento}"></td>
								<td th:text="${p.primerNombre} + ' ' + ${p.segundoNombre}"></td>
								<td th:text="${p.primerApellido} + ' ' + ${p.segundoApellido}"></td>
								<td th:text="${p.email}"></td>
								<td th:text="${p.direccion}"></td>
								<td th:text="${p.telefono}"></td>
								<td><a th:href="@{/persona/registro/{id}(id=${p.id})}" class="btn btn-primary btn-fab btn-round"  data-toggle="tooltip" data-placement="top" title="Editar">
                					<i class="material-icons">edit</i>
              						</a><a th:href="@{/persona/{id}/permisos(id=${p.id})}" class="btn btn-primary btn-fab btn-round"  data-toggle="tooltip" data-placement="top" title="Privilegios">
                					<i class="material-icons">assignment_turned_in</i>
              						</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>
</body>

</html>