<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
       <nav aria-label="breadcrumb">
		  <ol class="breadcrumb breadcrumb-links">
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/}">Inicio</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Usuarios</li>
		  </ol>
		</nav>
        <!-- Page title -->
       	<div class="contenido ml-3 mr-3 pb-2" >
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-dark" ><strong>Usuarios
									Registrados</strong></h5>
				 <a th:href="@{/usuarios/registro}" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4">
	                <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
	              </a>						
				
              </div>
            </div>
            
          </div>
        </div>
        <hr/>
        
				<div class="card">
					<div class="card-body">
					<!-- Table -->
					<p class="text-dark">El siguiente listado son los usuarios a los cuales usted tiene permisos de gestionar</p>
				
					<div>
							<table id="myTable" class="row-border table">
								<thead>
									<tr>
										<th></th>
										<th>Documento</th>
										<th>Nombre</th>
										<th width="10%">Perfiles</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="p: ${personas}">
										<td><a
											class="action-item action-item-red-ufps hover-scale-110"
											th:href="@{/usuarios/editar(id=${p.idAcceso})}"
											data-toggle="tooltip" data-placement="left" title="Editar">
												<span class="btn-inner--icon"><i
													class="fas fa-user-edit"></i></span>
										</a> <a th:if="${otorganPermisos}"
											class="action-item action-item-red-ufps hover-scale-110"
											th:href="@{/usuarios/permisos(id=${p.idAcceso})}"
											data-toggle="tooltip" data-placement="right" title="Permisos">
												<span class="btn-inner--icon"><i
													class="fas fa-user-cog"></i></span>
										</a></td>
										<td th:text="${p.documento}"></td>
										<td th:text="${p.nombre}"></td>
										<td th:text="${p.perfiles}"></td>
									</tr>
								</tbody>
							</table>
					</div>
					</div>
				</div>

				
		</div>
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
</body>

</html>