<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
       <nav aria-label="breadcrumb">
		  <ol class="breadcrumb breadcrumb-links">
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/}">Inicio</a></li>
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/usuarios}">Usuarios</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Roles</li>
		  </ol>
		</nav>
        <!-- Page title -->
       	<div class="contenido ml-3 mr-3 pb-2" >
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-dark" ><strong>Roles Usuarios</strong></h5>
              </div>
            </div>
            
          </div>
        </div>
        <hr/>
        
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<!-- Card header -->
					
					<div class="card-body">
					<div class="row">
						<div class="col-md-6">
							<center>
							<h5>Datos Persona</h5>
							</center>
							<div class="table-responsive">
							<table class="table align-items-center">
						
						<tbody>
							<tr>
									<td class="text-dark"><strong>Nombre</strong></td>
									<td class="text-dark" th:text="${persona.primerNombre + ' ' + persona.primerApellido}"></td>
								</tr>
								<tr>
									<td class="text-dark"><strong>Tipo Usuario</strong></td>
									<td class="text-dark" th:text="${persona.tipoPersona.tipoPersona}"></td>
								</tr>
								<tr th:if="${persona.tipoPersona.tipoPersona == 'Docente'}">
									<td class="text-dark"><strong>Director de Programa</strong></td>
									<td th:if="${persona.programaACargoDirector == null}">
										<div class="custom-control custom-switch">
										  <input type="checkbox" class="custom-control-input" id="customSwitch1" disabled>
										  <label class="custom-control-label" for="customSwitch1"></label>
										</div>
									</td>
									<td th:unless="${persona.programaACargoDirector == null}">
										<div class="custom-control custom-switch">
										  <input type="checkbox" class="custom-control-input" id="customSwitch1" checked disabled>
										  <label class="custom-control-label" for="customSwitch1"><span class="badge badge-gray-ufps badge-pill"  th:text="${persona.programaACargoDirector.programa}"></span></label>
										</div>
									</td>
								</tr>
								
						</tbody>
													
							</table>
							</div>
						</div>
						<div class="col-md-6">
							<center>
							<h5>Roles</h5>
							</center>
							<div class="table-responsive">
							<table class="table align-items-center">
								<tr th:if="${persona.tipoPersona.tipoPersona == 'Estudiante'}">
									<td class="text-dark">
									
									<strong>Beca <button class="badge badge-secondary badge-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="El rol beca permite al estudiante gestionar los eventos de educación continua del Programa Académico al cual pertenece">
										    <i class="fas fa-info"></i>
										</button></strong></td>
									<td>
										<div class="custom-control custom-switch">
										  <input type="checkbox" class="custom-control-input switch" id="switchBeca" data-role="ROLE_BECA">
										  <label class="custom-control-label" for="switchBeca"></label>
										</div>
									<td>
									
								</tr>
								<tr th:if="${persona.tipoPersona.tipoPersona == 'Docente' or persona.tipoPersona.tipoPersona == 'Egresado' or persona.tipoPersona.tipoPersona == 'Externo'}">
									<td><span class="badge badge-red-ufps badge-pill" th:text="'El tipo de persona ' + ${persona.tipoPersona.tipoPersona} + ' no tiene acceso a otros roles' "></span>
									</td>
									
								</tr>
								<tr th:if="${persona.tipoPersona.tipoPersona == 'Administrativo'}">
									<td class="text-dark">
									
									<strong>Admin <button class="badge badge-secondary badge-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="El rol admin permite al administrativo gestionar los eventos de educación continua, usuarios, generar reportes generales de SNIES y observar las estadisticas">
										    <i class="fas fa-info"></i>
										</button></strong></td>
									<td>
										<div class="custom-control custom-switch">
										  <input type="checkbox" class="custom-control-input switch" id="switchAdminAdministrativo" data-role="ROLE_ADMIN">
										  <label class="custom-control-label" for="switchAdminAdministrativo"></label>
										</div>
									</td>
									
								</tr>
							
							</table>
							</div>
						</div>
					</div>
					
				</div>
			</div>
				</div>

				
		</div>
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
  <script type="text/javascript" th:inline="javascript">
  var token = $("meta[name='_csrf']").attr("content");
  var persona= [[${persona}]];
  console.log(persona);
  console.log(persona.roles);
  
  </script>
  
  <script th:src="@{/js/permisos.js}" type="text/javascript"></script>
  
  
</body>

</html>
