<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
       <nav aria-label="breadcrumb">
		  <ol class="breadcrumb breadcrumb-links">
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/}">Inicio</a></li>
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/usuarios}">Usuarios</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Roles</li>
		  </ol>
		</nav>
        <!-- Page title -->
       	<div class="contenido ml-3 mr-3 pb-2" >
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h5 d-inline-block font-weight-400 mb-0 text-dark" ><strong>PERMISOS USUARIO</strong></h5>
              	<h6 th:text="${persona.documento + ' ' + persona.nombre}"></h6>
              </div>
            </div>
            
          </div>
        </div>
        <br>
        
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<!-- Card header -->
					
					<div class="card-body">
						<p class="text-dark">A continuación podrá seleccionar los permisos del usuario</p> 
					<div class="row">
						<div class="col-md-12">
							
							<div id="accordion-1" class="accordion accordion-stacked">
    
						    <!-- Accordion card 1 -->
						    <div class="card">
						        <div class="card-header py-4" id="heading-1-1" data-toggle="collapse" role="button" data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
						            <h6 class="mb-0"><i class="fas fa-user-shield mr-3"></i>Educación Continua</h6>
						        </div>
						        <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-1">
						            <div class="card-body">
						            <p class="text-dark">El usuario con este permiso seleccionado podrá
						            registrar, editar, actualizar, visualizar, administrar jornadas, administrar ponentes, 
						            tomar asistencia mediante la app móvil, aprobar asistentes y personalizar diploma 
						            de participación de las educaciones continuas
						            pertenecientes a los programas académicos asociados.</p>
						            	<div class="row">
							            	<div class="custom-control custom-switch">
											  <input type="checkbox" class="custom-control-input switch" id="switchEduContinua" th:checked="${persona.hasPermissionForEduContinua}" th:disabled="${persona.isDirPrograma()}">
											  <label class="custom-control-label" for="switchEduContinua"><strong>Gestionar Eventos de Educación Continua</strong></label>
											</div>
										</div>
										<br>
										
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">¿A cuáles Programas Académicos desea asociar los permisos?</label> 
													<div th:if="${persona.programasForEduContinuaIntocables!=null and #arrays.length(persona.programasForEduContinuaIntocables) > 0}">
														<div class="alert alert-info" role="alert" th:if="${persona.isDirPrograma()}">
														   El usuario ya tiene otorgados permisos para la gestión de cursos y/o eventos de educación continua dado que es Director(a)
															<ul th:each="p: ${persona.programasForEduContinuaIntocables}">
														   		<li th:text="${p.programa}">
														   		</li>
														   </ul>
														</div>
														<div class="alert alert-info" role="alert" th:unless="${persona.isDirPrograma()}">
														   El usuario ya tiene otorgados permisos para la gestión de cursos y/o eventos de educación continua por parte de otros roles
															<ul th:each="p: ${persona.programasForEduContinuaIntocables}">
														   		<li th:text="${p.programa}">
														   		</li>
														   </ul>
														</div>
													</div>
													<select class="form-control"
														data-toggle="select" id="programasEC" multiple="multiple">
														<option value="0" disabled>Seleccione...</option>
														<option th:each="p: ${persona.selectProgramasForEduContinua}" th:value="${p.id}"
														 
															th:text="${p.programa}"></option>
													</select>
													<div class="alert alert-warning shadow-lg mt-2" role="alert" id="wPEC" style="display:none"></div>
													<div class="alert alert-danger shadow-lg mt-2" role="alert" id="ePEC" style="display:none"></div>
												</div>
												
											</div>
										</div>
						            </div>
						        </div>
						    </div>
						    
						    <!-- Accordion card 2 -->
						    <div class="card">
						        <div class="card-header py-4" id="heading-1-2" data-toggle="collapse" role="button" data-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
						            <h6 class="mb-0"><i class="fas fa-user-shield mr-3"></i>Usuarios</h6>
						        </div>
						        <div id="collapse-1-2" class="collapse" aria-labelledby="heading-1-2" data-parent="#accordion-1">
						            <div class="card-body">
						            <p class="text-dark">El usuario con este permiso seleccionado podrá
						            registrar, editar, actualizar, visualizar los diferentes usuarios según la categoría</p>
						                <div class="row">
							            	<div class="custom-control custom-switch">
											  <input type="checkbox" class="custom-control-input switch" id="switchPersonas"  th:checked="${persona.hasPermissionForUsuarios}"  th:disabled="${persona.isDirPrograma()}">
											  <label class="custom-control-label" for="switchPersonas"><strong>Gestionar Usuarios</strong></label>
											</div>
										</div>
										<div class="alert alert-warning shadow-lg mt-2" role="alert" id="wPP" style="display:none"></div>
													<div class="alert alert-danger shadow-lg mt-2" role="alert" id="ePP" style="display:none"></div>
										<br>
										
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label"> ¿En cuáles Programas Académicos desea gestionar Estudiantes?</label> 
													<div th:if="${persona.programasForEstudiantesIntocables!=null and #arrays.length(persona.programasForEstudiantesIntocables)>0}">
														<div class="alert alert-info" role="alert" th:if="${persona.isDirPrograma()}">
														   El usuario ya tiene otorgados permisos para la gestión de estudiantes dado que es Director(a)
														   <ul th:each="p: ${persona.programasForEstudiantesIntocables}">
														   		<li th:text="${p.programa}">
														   		</li>
														   </ul>
														</div>
														<div class="alert alert-info" role="alert" th:unless="${persona.isDirPrograma()}">
														   El usuario ya tiene otorgados permisos para la gestión de estudiantes por parte de otros roles
														   <ul th:each="p: ${persona.programasForEstudiantesIntocables}">
														   		<li th:text="${p.programa}">
														   		</li>
														   </ul>
														</div>
													</div>
													<select class="form-control"
														data-toggle="select" id="programasEstudiantes" multiple="multiple">
														<option value="0" disabled>Seleccione...</option>
														<option th:each="p: ${persona.selectProgramasForEstudiantes}" th:value="${p.id}"
															th:text="${p.programa}"></option>
													</select>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">¿En cuáles Departamentos Académicos desea gestionar docentes?</label> <select class="form-control"
														data-toggle="select" id="deptosDocentes" multiple="multiple">
														<option value="0" disabled>Seleccione...</option>
														<option th:each="d: ${persona.selectDeptosForDocentes}" th:value="${d.id}"
															th:text="${d.departamento}"></option>
													</select>
													
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label"> ¿En cuáles Programas Académicos desea gestionar Graduados?</label> 
													<div th:if="${persona.programasForGraduadosIntocables!=null and #arrays.length(persona.programasForGraduadosIntocables) > 0}">
														<div class="alert alert-info" role="alert" th:if="${persona.isDirPrograma()}">
														   El usuario ya tiene otorgados permisos para la gestión de graduados dado que es Director(a)
														   <ul th:each="p: ${persona.programasForGraduadosIntocables}">
														   		<li th:text="${p.programa}">
														   		</li>
														   </ul>
														</div>
														<div class="alert alert-info" role="alert" th:unless="${persona.isDirPrograma()}">
														   El usuario ya tiene otorgados permisos para la gestión de graduados por parte de otros roles
														   <ul th:each="p: ${persona.programasForGraduadosIntocables}">
														   		<li th:text="${p.programa}">
														   		</li>
														   </ul>
														</div>
													</div>
													<select class="form-control"
														data-toggle="select" id="programasGraduados" multiple="multiple">
														<option value="0" disabled>Seleccione...</option>
														<option th:each="p: ${persona.selectProgramasForGraduados}" th:value="${p.id}"
															th:text="${p.programa}"></option>
													</select>
													<small class="form-text text-danger"><strong></strong></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input"  id="cbAdminvo" th:checked="${persona.hasPermissionForAdminvos}" th:disabled="${persona.isDirPrograma()}">
												 <label class="custom-control-label" for="cbAdminvo">Administrativos</label>
											</div>
										</div>
										<div class="col-md-6">
											<div class="custom-control custom-checkbox">
												<input type="checkbox" class="custom-control-input" id="cbE"  th:checked="${persona.hasPermissionForExternos}" th:disabled="${persona.isDirPrograma()}">
												 <label class="custom-control-label" for="cbE">Externos</label>
											</div>
										</div>
						            </div>
						        </div>
						    </div>
						    
						    <!-- Accordion card 3 -->
						    <div class="card">
						        <div class="card-header py-4" id="heading-1-3" data-toggle="collapse" role="button" data-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
						            <h6 class="mb-0"><i class="fas fa-user-shield mr-3"></i>Toma de Asistencias</h6>
						        </div>
						        <div id="collapse-1-3" class="collapse" aria-labelledby="heading-1-3" data-parent="#accordion-1">
						            <div class="card-body">
						            <p class="text-dark">El usuario con este permiso seleccionado podrá únicamente tomar la asistencia 
						            mediante la app móvil de la educación continua asociada</p>
						                <div class="row">
							            	<div class="custom-control custom-switch">
											  <input type="checkbox" class="custom-control-input switch" id="switchAsistencias" data-role="ROLE_ADMIN_CEEC" th:checked="${persona.hasPermissionForAttendance}">
											  <label class="custom-control-label" for="switchAsistencias"><strong>Tomar Asistencias en dispositivo móvil</strong></label>
											</div>
										</div>
										<br>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label"> Educaciones Continuas</label> 
													<div th:if="${persona.eduContinuasForAttendanceIntocables!=null and #arrays.length(persona.eduContinuasForAttendanceIntocables) > 0}">
														<div class="alert alert-info" role="alertd">
														   El usuario ya tiene otorgados permisos para la toma de asistencias
														   <ul th:each="e: ${persona.eduContinuasForAttendanceIntocables}">
														   		<li th:text="${e.nombre}">
														   		</li>
														   </ul>
														</div>
													</div>
													
													
													<select class="form-control"
														data-toggle="select" id="educacionesContinuas" multiple="multiple">
														<option value="0" disabled>Seleccione...</option>
														<option th:each="e: ${persona.selectEduContinuasForAttendance}" th:value="${e.id}"
															th:text="${e.nombre}"></option>
													</select>
													<div class="alert alert-warning shadow-lg mt-2" role="alert" id="wA" style="display:none"></div>
													<div class="alert alert-danger shadow-lg mt-2" role="alert" id="eA" style="display:none"></div>
												</div>
											</div>
										</div>
						            </div>
						        </div>
						    </div>
						    
						</div>
							</div>
							
						</div>
					</div>
					
				</div>
				<div class="modal-footer">
					<div class="row">
						<a th:href="@{/usuarios}" type="button"
												class="btn btn-sm btn-red-ufps"><i class="fas fa-times"></i> Cancelar</a>
								<button type="button" class="btn btn-red-ufps btn-sm" id="btnActualizarPermisos">
								    <i class="fas fa-save"></i> Guardar
								</button>
						
							
						<div>
			         		<button class="btn btn-primary btn-sm btnSpinner" type="button" id="btnSpinnerPermisos" disabled>
								  <div class="spinner-border text-white mr-2 divSpinnerBtn" role="status">
								  <span class="sr-only">Loading...</span>
								</div> Procesando
							</button>
						</div>
					</div>
				</div>
			</div>
				</div>

				
		</div>
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    
  </div>
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
  <script type="text/javascript" th:inline="javascript">
  	var persona= [[${persona}]];
  	console.log(persona);
  	console.log("permisos");
  </script>
  
  <script th:src="@{/js/permisos.js}" type="text/javascript"></script>
  
  
</body>

</html>
