<html xmlns:th="http://www.thymeleaf.org"
	xlmns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout :: head">
<meta charset="UTF-8" />
</head>

<body class="index-page sidebar-collapse">
	<header th:replace="layouts/layout :: header"></header>
	<div th:replace="layouts/layout :: encabezado"></div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<div class="col-md-8">
					<h2>FORM REGISTRO PROGRAMA</h2>

					
						<form th:action="@{/educacion-continua/ponentes/registro}" th:object="${ponente}" method="post"
							enctype="multipart/form-data">

							
							<div class="form-group">
								<label for="example-text-input" class="col-form-label">Ponente</label> 
									<select class="select2 col-md-8" th:field="*{persona}">
									  <option value="0">Seleccione el ponente</option>
									  <option th:each="p: ${personas}"
										th:value="${p.id}" th:text="${p.primerNombre}+ ' ' +${p.segundoNombre}+ ' ' +${p.primerApellido} + ' ' +${p.segundoApellido}  "></option>
									</select>
							</div>
							<div class="form-group">
							    <label class="label-control">Tema</label>
							    <input type="text" class="form-control" th:field="*{tema}"/>
							</div>
							<button type="submit" class="btn btn-primary mt-4 pr-4 pl-4">Guardar</button>
						</form>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>
</body>

</html>