<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

<div class="modal fade docs-example-modal-lg" id="modalPonentes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" th:fragment="modalRegistro">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
          <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
              <div>
                  <div class="icon icon-sm icon-shape rounded-circle shadow mr-3">
                      <i class="far fa-user"></i>
                  </div>
              </div>
              <div>
                  <h6 class="mb-0 text-white">Formulario Registro Ponente</h6>
              </div>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="text-white">&times;</span>
          </button>
      </div>
      <div class="modal-body">
      <label class="form-control-label">Los campos marcados con</label> <label class="requerido pl-2">*</label> <label class="form-control-label">son obligatorios</label>
        <div class="row">
          	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label">Tipo Documento </label><label class="requerido pl-2">*</label>
                        <input class="form-control" type="text" id="tdPonente" disabled/>
                    </div>
                </div>
             <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-control-label">Documento </label><label class="requerido pl-2">*</label>
                        <input class="form-control" type="text" id="documentoPonente" disabled/>
                    </div>
                </div>
        </div>
        <div class="row">
          	<div class="col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label">Nombre </label><label class="requerido pl-2">*</label>
                        <input class="form-control" type="text" id="nombrePonente" disabled/>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="form-control-label">Tema </label><label class="requerido pl-2">*</label>
                        <input class="form-control" type="text" id="temaPonente"/>
                        <small class="form-text text-danger"><strong id="errorTema"></strong></small>
                    </div>
                </div>
          </div>
      </div>
      <div class="modal-footer">
      	<div class="row">
      			<button type="button" data-dismiss="modal" class="btn btn-sm btn-red-ufps"><i class="fas fa-times"></i> Cancelar</button>
               	<button type="button" onclick="guardarPonente()" class="btn btn-sm btn-red-ufps" id="btnSavePonente"><i class="fas fa-save"></i> Guardar</button>
         		<div>
	         		<button class="btn btn-primary btn-sm btnSpinner" type="button" id="btnSpinnerPonente" disabled>
						  <div class="spinner-border text-white mr-2 divSpinnerBtn" role="status">
						  <span class="sr-only">Loading...</span>
						</div> Procesando
					</button>
				</div>
         </div>
      </div>
    </div>
  </div>
</div>
	
</body>
</html>