<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<title>Insert title here</title>
</head>
<body>
        <div class="foooter col-lg-9 center" id="footer-main" th:fragment="footer">
        <div class="row text-center text-sm-left align-items-sm-center">
          <div class="col-sm-4 pr-1">
            <p class="text-sm mb-0 ">&copy; 2019 All rights reserved.</p>
          </div>
          <div class="col-sm-8 ml-0">
          <p class="text-sm mb-0">Desarrollado por: Jhocel Duvan Suescun Torres y Javier Eduardo Calderon Villamizar</p>
          	
          </div>
        </div>
      </div>
      
</body>
</html>