<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<title>Insert title here</title>
</head>
<body>
        <div class="foooter col-lg-11 center" id="footer-main" th:fragment="footer">
        <div class="row text-center text-sm-left align-items-sm-center">
            <p class="text-sm mb-0 ">&copy; <script>document.write(new Date().getFullYear())</script> Todos los derechos reservados.</p>
          
        </div>
      </div>
      
</body>
</html>