<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<title>Insert title here</title>
</head>
<body>
     
       <div class="row ml-0 imagenes col-lg-9 center" th:fragment="logosHead">
      	<div class="col-lg-6">
      	<a th:href="@{/plantilla/index.html}">
          <img th:src="@{/logos/logo-ufps.png}" class="navbar-brand-img logou" alt="...">
        </a>
        </div>
        <div class="col-lg-6">
      	<a th:href="@{/plantilla/index.html}">
          <img th:src="@{/logos/geduco2.jpg}" style="margin-left: 10px; max-width: 90%; max-height:90%" class="navbar-brand-img logou" alt="...">
        </a>
        </div>
      </div> 
</body>
</html>