<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
        <nav th:fragment="navbar" class="navbar navbar-main navbar-expand-lg navbar-dark bg-primary navbar-border col-lg-11 center" id="navbar-main">
        <div class="container-fluid">
          <!-- Brand + Toggler (for mobile devices) -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- User's navbar -->
          
          <div class="navbar-user d-lg-none ml-auto" th:fragment="navbarMovil">
            <ul class="navbar-nav flex-row align-items-center">
              
              
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authorize="isAuthenticated()">
                  <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" th:src="@{${photoUser}}">
                  </span>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                  <a th:href="@{/perfil}" class="dropdown-item">
                    <i class="fas fa-user"></i>
                    <span>Perfil</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="javascript:logout()" class="dropdown-item" sec:authorize="isAuthenticated()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Cerrar Sesión</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>  
          
          
          
          
          
          <!-- Navbar nav -->
          <div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse" th:fragment="navbarWeb">
            <ul class="navbar-nav align-items-lg-center">
              <li class="border-top opacity-2 my-2"></li>
              <!-- Home  -->
              <li class="nav-item " sec:authorize="!isAuthenticated()">
                <a class="nav-link pl-lg-0" th:href="@{/oauth2/code/google}">
                  Iniciar Sesión
                </a>
                <li class="nav-item " sec:authorize="!isAuthenticated()">
                <a class="nav-link pl-lg-0" th:href="@{/registrarse}">
                  Registrarse
                </a>
              </li>
              </li>
              <li class="nav-item ">
                <a class="nav-link pl-lg-0" th:href="@{/}">
                  Inicio
                </a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyRole('ROLE_USER')" >
                <a class="nav-link" th:href="@{/participaciones-educacion-continua}">
                  Eventos Inscrito
                </a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyRole('ROLE_USER')" >
                <a class="nav-link" th:href="@{/certificaciones-educacion-continua}">
                  Certificados
                </a>
              </li>
              <!-- Application menu -->
              <li class="nav-item dropdown dropdown-animate" data-toggle="hover" sec:authorize="hasAnyRole('ROLE_SUPERADMIN')">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Áreas academicas
                </a>	
                		
                      <div class="dropdown-menu">
                      	<a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_SUPERADMIN')" th:href="@{/dependencias}">
                          Dependencias
                        </a>
                      	<a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_SUPERADMIN')" th:href="@{/facultades}">
                          Facultades
                        </a>
                        <a class="dropdown-item"sec:authorize="hasAnyRole('ROLE_SUPERADMIN')" th:href="@{/departamentos-academicos}">
                          Departamentos Académicos
                        </a>
                        <a class="dropdown-item"sec:authorize="hasAnyRole('ROLE_SUPERADMIN')" th:href="@{/programas-academicos}">
                          Programas Académicos
                        </a>
                      </div>
                    </li>
              
              <li class="nav-item" sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_MANPEOPLE')">
                <a class="nav-link"  th:href="@{/usuarios}">
                  Usuarios
                </a>
              </li>
              <li class="nav-item" sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_MANAECCU')">
                <a class="nav-link"  th:href="@{/educacion-continua}">
                  Gestionar Eventos
                </a>
              </li>
              <li class="nav-item dropdown dropdown-animate" data-toggle="hover" sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_SNIES')">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Reportes
                </a>	
                		
                  <div class="dropdown-menu"><a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_SNIES')" th:href="@{/reportes-SNIES}">
                      SNIES
                    </a>
                    <a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_SNIES')" th:href="@{/reportes-SNIES/dashboard}">
                      Dashboard
                    </a>
                  </div>
                </li>
             
              
            </ul><!-- Right menu -->
            <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
              
              
              
              
              <li class="nav-item dropdown dropdown-animate" sec:authorize="isAuthenticated()">
                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media media-pill align-items-center">
                    <span class="avatar rounded-circle">
                      <img alt="Image placeholder"  th:src="@{${photoUser}}">
                    </span>
                    <div class="ml-2 d-none d-lg-block">
                      <span class="mb-0 text-sm  font-weight-bold" th:text="${nameUser}"></span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                 <a th:href="@{/perfil}" class="dropdown-item">
                    <i class="fas fa-user"></i>
                    <span>Perfil</span>
                  </a>
                 
                  <div class="dropdown-divider"></div>
                  <a href="javascript:logout()" class="dropdown-item" sec:authorize="isAuthenticated()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Cerrar Sesión</span>
                  </a>
                  <form id="formLogout" th:action="@{/logout}" method="post">
              	  </form>
                </div>
              </li>
            </ul>
          </div>
          
          
          
          
        </div>
      </nav>
      
      
</body>
</html>