<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<div class="collapse navbar-collapse navbar-collapse-fade" id="navbar-main-collapse" th:fragment="navbarWeb">
            <ul class="navbar-nav align-items-lg-center">
              <li class="border-top opacity-2 my-2"></li>
              <!-- Home  -->
              <li class="nav-item " sec:authorize="!isAuthenticated()">
                <a class="nav-link pl-lg-0" th:href="@{/login}">
                  Iniciar Sesión
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link pl-lg-0" th:href="@{/plantilla/application/home.html}">
                  Home
                </a>
              </li>
              <!-- Application menu -->
              <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Gestionar Opciones
                </a>	
                		
                      <div class="dropdown-menu"><a class="dropdown-item"sec:authorize="hasAnyRole('ROLE_SUPERADMIN')" th:href="@{/facultades}">
                          Facultades
                        </a>
                        <a class="dropdown-item"sec:authorize="hasAnyRole('ROLE_SUPERADMIN')" th:href="@{/departamentos-academicos}">
                          Departamentos Académicos
                        </a>
                        <a class="dropdown-item"sec:authorize="hasAnyRole('ROLE_SUPERADMIN')" th:href="@{/programas-academicos}">
                          Programas Académicos
                        </a>
                        <a class="dropdown-item" sec:authorize="hasAnyRole('ROLE_SUPERADMIN')" th:href="@{/tipo-documento/listar}">
                          Tipo Documento
                        </a>
                      </div>
                    </li>
              
              <li class="nav-item">
                <a class="nav-link" sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_DIRPROGRAMA','ROLE_ADMIN')" th:href="@{/usuarios}">
                  Gestionar Usuarios
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" sec:authorize="hasAnyRole('ROLE_SUPERADMIN','ROLE_DIRPROGRAMA','ROLE_ADMIN', 'ROLE_BECA')" th:href="@{/educacion-continua}">
                  Eventos
                </a>
              </li>
            </ul><!-- Right menu -->
            <ul class="navbar-nav ml-lg-auto align-items-center d-none d-lg-flex">
              <li class="nav-item">
                <a href="#" class="nav-link nav-link-icon sidenav-toggler" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></a>
              </li>
              
              
              <li class="nav-item dropdown dropdown-animate">
                <a class="nav-link pr-lg-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="media media-pill align-items-center">
                    <span class="avatar rounded-circle">
                      <img alt="Image placeholder" th:src="@{/plantilla/assets/img/theme/light/team-4-800x800.jpg}">
                    </span>
                    <div class="ml-2 d-none d-lg-block">
                      <span class="mb-0 text-sm  font-weight-bold">John Snow</span>
                    </div>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right dropdown-menu-arrow">
                  <h6 class="dropdown-header px-0">Hi, John!</h6>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-user"></i>
                    <span>My profile</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-credit-card"></i>
                    <span>Billing</span>
                  </a>
                  <a href="#!" class="dropdown-item">
                    <i class="fas fa-tasks"></i>
                    <span>Activity</span>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a href="javascript:logout()" class="dropdown-item" sec:authorize="isAuthenticated()">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                  </a>
                  <form id="formLogout" th:action="@{/logout}" method="post">
               		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
              	  </form>
                </div>
              </li>
            </ul>
          </div>
</body>
</html>