<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<title>Insert title here</title>
</head>
<body>
	<div class="sidenav-user d-flex flex-column align-items-center justify-content-between text-center" th:fragment="profile">
        <!-- Avatar -->
        <div>
          <a href="#" class="avatar rounded-circle avatar-xl">
            <img alt="Image placeholder" th:src="@{/plantilla/assets/img/theme/light/team-1-800x800.jpg}" class="">
          </a>
          <div class="mt-4">
            <h5 class="mb-0 text-white">Heather Parker</h5>
            <span class="d-block text-sm text-white opacity-8 mb-3">Web Architect</span>
            <a href="#" class="btn btn-sm btn-white btn-icon rounded-pill shadow hover-translate-y-n3">
              <span class="btn-inner--icon"><i class="fas fa-coins"></i></span>
              <span class="btn-inner--text">$2.300</span>
            </a>
          </div>
        </div>
        
      </div>
</body>
</html>