<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

<title>Insert title here</title>
</head>
<body>
<div class="nav-application clearfix" th:fragment="sidebar">
        <a th:href="@{/plantilla/application/home.html}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-home fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Home</span>
        </a>
        <a th:href="@{/plantilla/application/project/card-listing.html}" class="btn btn-square text-sm active">
          <span class="btn-inner--icon d-block"><i class="fas fa-project-diagram fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Projects</span>
        </a>
        <a th:href="@{/plantilla/application/task/table-listing.html}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-tasks fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Tasks</span>
        </a>
        <a th:href="@{/plantilla/application/task/kanban-board.html}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-columns fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Kanban</span>
        </a>
        <a th:href="@{/plantilla/application/user/card-listing.html}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-users-cog fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Users</span>
        </a>
        <a th:href="@{/plantilla/application/user/profile.html}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-user-ninja fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Profile</span>
        </a>
        <a th:href="@{/plantilla/application/shop/invoices.html}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-receipt fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Invoices</span>
        </a>
        <a th:href="@{/plantilla/application/widgets.html}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-cogs fa-2x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Widgets</span>
        </a>
      </div>
</body>
</html>