<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<!-- Modal -->
<div class="modal fade" id="modalRegistroDepartamento" tabindex="-1" role="dialog" aria-labelledby="modalRegistroDepartamento" aria-hidden="true" th:fragment="modalRegistro">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
                        <div>
                            <div class="icon icon-sm icon-shape icon-info rounded-circle shadow mr-3">
                                <i class="far fa-user"></i>
                            </div>
                        </div>
                        <div>
                            <h6 class="mb-0">Formulario Registro Departamento Académico</h6>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                    	<div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">Facultad perteneciente</label>
                                <select class="form-control" data-toggle="select"
														id="select_facultad_departamento">
														<option value="0">Seleccione la facultad...</option>
														<option th:each="f: ${facultades}" th:value="${f.id}"
															th:text="${f.facultad}"></option>
													</select>
                               
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="form-control-label">Departamento</label>
                                <input class="form-control" id="departamento" type="text" data-toggle="autosize"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="guardarDepartamento()" class="btn btn-sm btn-secondary">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>