<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout3 :: head">
	<meta charset="UTF-8"/>
	
</head>

<body class="application application-offset">
 
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Sidenav --><!-- lado izquierdo de la plantilla -->
    <div class="sidenav" id="sidenav-main" th:fragment="sidenavMain">
      <!-- Sidenav header -->
      <div th:replace="layouts/sidenavHeader :: sidenavHeader"></div>
      <!-- User mini profile -->
      <div th:replace="layouts/profile :: profile"></div>
      <!-- Application nav -->
      <div class="nav-application clearfix" th:fragment="sidebar">
        <a th:href="@{/facultades}" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-clipboard-list fa-3x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Listar</span>
        </a>
        <a href="" data-toggle="modal" data-target="#modalRegistroFacultad" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-plus-circle fa-3x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Agregar</span>
        </a>
        
      </div>
    </div>
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <nav th:replace="layouts/layout3 :: nav"></nav>
      <!-- Page content -->
      <div class="page-content">
        
        <!-- Page title -->
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Facultades</h5>
              </div>
              <div class="align-items-center ml-4 d-inline-flex">
                <span class="h6 text-white counter badge-danger badge-pill" data-from="0" th:data-to="${#lists.size(facultades)}" data-speed="500" data-refresh-interval="100"></span>
              </div>
              
            </div>
            
          </div>
        </div>
        <!-- Project cards -->
        
        <div class="row">
        	<div class="col-lg-4 col-sm-6 " th:each="f: ${facultades}">
            <div class="card hover-shadow-lg hover-scale-110">
              <div class="card-body text-center">
              
                <div class="avatar-parent-child">
                  <img alt="Image placeholder" th:src="@{/logos/logo_no_disponible.png}" class="avatar  rounded-circle avatar-lg">
                </div>
                <h5 class="h6 mt-4 mb-4"><strong th:text="${f.facultad}"></strong></h5>
                <div class="col">
               	<a href="#" onclick="editarFacultad(this)" class="action-item editarPrograma badge badge-dot badge-lg p" th:data-id="${f.id}" th:data-facultad="${f.facultad}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                    <i class="bg-danger"></i>Departamentos Académicos
                </a>
                <a href="#" onclick="editarFacultad(this)" class="action-item editarPrograma badge badge-dot badge-lg p" th:data-id="${f.id}" th:data-facultad="${f.facultad}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                    <i class="bg-danger"></i>Programas Académicos
                </a>
                </div>
                <div class="actions d-flex justify-content-between px-4">
                  <a href="#" onclick="editarFacultad(this)" class="action-item editarPrograma" th:data-id="${f.id}" th:data-facultad="${f.facultad}" data-toggle="tooltip" data-placement="bottom" title="Editar">
                    <i class="far fa-edit"></i>
                  </a>
                  <a href="#" class="action-item text-danger" data-toggle="tooltip" data-placement="bottom" title="Eliminar">
                    <i class="far fa-trash-alt"></i>
                  </a>
                  
                </div>
              </div>
            </div>
          </div>   	
        </div>
      </div>
      
    </div>
    
  </div>
  <div th:replace="facultad/formModal :: modalRegistro"></div>
  <!-- Footer -->
      <div th:replace="layouts/footer :: footer"></div>
      <div th:replace="layouts/layout3 :: scripts"></div>
  
</body>

</html>