<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<!-- Modal -->
<div class="modal fade" id="modalRegistroPrograma" tabindex="-1" role="dialog" aria-labelledby="modalRegistroPrograma" aria-hidden="true" th:fragment="modalRegistro">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
                        <div>
                            <div class="icon icon-sm icon-shape rounded-circle shadow mr-3">
                                <i class="fas fa-edit"></i>
                            </div>
                        </div>
                        <div>
                            <h6 class="mb-0 text-white">Formulario Registro</h6>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <label class="form-control-label reglasForms">Los campos marcados con</label> <label class="requerido pl-2">*</label> <label class="form-control-label reglasForms">son obligatorios</label>
                    <div class="row">
                    	<div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label">Facultad perteneciente</label><label class="requerido pl-2">*</label>
                                <select class="form-control" data-toggle="select"
									id="select_facultad_programa">
									<option value="0">Seleccione la facultad...</option>
									<option th:each="f: ${facultades}" th:value="${f.id}"
										th:text="${f.facultad}"></option>
								</select>
								<small class="form-text text-danger"><strong id="errorSelectFacultad"></strong></small>
                               
                            </div>
                        </div>
                       </div>
                       <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="form-control-label">Código</label><label class="requerido pl-2">*</label>
                                <input class="form-control input-mask"  data-mask="000" placeholder="000" id="codigo" type="text" />
                                <small class="form-text text-danger"><strong id="errorCodigo"></strong></small>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <label class="form-control-label">Programa Académico</label><label class="requerido pl-2">*</label>
                                <input class="form-control"  id="programa" type="text" placeholder="Ingrese el nombre del programa..." />
                            	<small class="form-text text-danger"><strong id="errorPrograma"></strong></small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label">Director(a) Programa</label><label class="requerido pl-2">*</label>
                                <select class="form-control" data-toggle="select"
									id="select_director_programa">
									<option value="0">Seleccione el docente...</option>
									<option th:each="d: ${docentes}" th:value="${d.id}"
										th:text="${d.codigo}+ ' - ' +(${d.primerNombre} ?:'') +' '+ (${d.segundoNombre} ?:'') +' '+ (${d.primerApellido} ?:'')+' '+ (${d.segundoApellido} ?:'')"></option>
								</select>
								<small class="form-text text-danger"><strong id="errorSelectDirectorPrograma"></strong></small>
                            </div>
                            
                        </div>
                        
                       </div>
                       <div class="row">
                       	<div class="alert alert-info" role="alert" id="alertDirector" style="display:none">
							    
							</div>
                       </div>
                    <center>
	                	<button type="button" onclick="guardarPrograma()" class="btn btn-sm btn-red-ufps">Guardar</button>
	                </center>
                </div>
                
            </div>
        </form>
    </div>
</div>
</body>
</html>