<html xmlns:th="http://www.thymeleaf.org"
	xlmns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout :: head">
<meta charset="UTF-8" />
</head>

<body class="index-page sidebar-collapse">
	<header th:replace="layouts/layout :: header"></header>
	<div th:replace="layouts/layout :: encabezado"></div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<div class="col-md-12">


					<h2>Programas Académicos</h2>
					<a class="btn btn-primary" th:href="@{/programa/registro}">Agregar
						Programa</a>
					<table id="myTable" class="row-border" style="width: 100%">
						<thead>
							<tr>
								<th>codigo</th>
								<th>programa</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p: ${programas}">
								<td th:text="${p.codigo}"></td>
								<td th:text="${p.nombrePrograma}"></td>
								<td><a th:href="@{/programa/registro/} + ${p.codigo}"
									class="btn btn-primary btn-fab btn-round"> <i
										class="material-icons">edit</i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>
</body>
</html>