<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout3 :: head">
	<meta charset="UTF-8"/>
	
</head>

<body class="application application-offset">
 
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Sidenav --><!-- lado izquierdo de la plantilla -->
    <div class="sidenav" id="sidenav-main" th:fragment="sidenavMain">
      <!-- Sidenav header -->
      <div th:replace="layouts/sidenavHeader :: sidenavHeader"></div>
      <!-- User mini profile -->
      <div th:replace="layouts/profile :: profile"></div>
      <!-- Application nav -->
      <div class="nav-application clearfix" th:fragment="sidebar">
        <a th:href="@{/educacion-continua/{id}/jornadas(id=${educacionContinua.id})}"  class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-clipboard-list fa-3x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Listar</span>
        </a>
        <a href="" data-toggle="modal" data-target="#modalRegistroJornada" class="btn btn-square text-sm">
          <span class="btn-inner--icon d-block"><i class="fas fa-plus-circle fa-3x"></i></span>
          <span class="btn-inner--icon d-block pt-2">Agregar</span>
        </a>
        
      </div>
    </div>
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <nav th:replace="layouts/layout3 :: nav"></nav>
      <!-- Page content -->
      <div class="page-content">
        
        <!-- Page title -->
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white" >Jornadas</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- Project cards -->
        
		<div class="row">
			<div class="col-lg-3 col-sm-4 hover-scale-110" th:each="j: ${educacionContinua.jornadas}">
            <div class="card hover-shadow-sm-">
            
              <div class="card-header"> 
                <div class="d-flex align-items-center">
                
                  
                  <div class="avatar-parent-child">
                    <img alt="Image placeholder" th:src="@{/logos/calendar.png}" class="avatar">
                   
                  </div>
                  
                  <div class="avatar-content ml-2">
                  <div class="row">
					<h6 class="mb-0" th:text="Jornada"></h6>
                    <div class="row ml-3">
                    	<a href="#" onclick="editarJornada(this)" class="action-item" th:data-id="${j.id}" data-toggle="tooltip" data-placement="bottom" title="Editar">
	                    <i class="far fa-edit"></i>
	                  </a>
	                  <a href="#" onclick="editarDepartamento(this)" class="action-item text-danger" th:data-id="${j.id}" data-toggle="tooltip" data-placement="bottom" title="Eliminar">
	                    <i class="far fa-trash-alt"></i>
	                  </a>
	                  <a href="#" onclick="editarDepartamento(this)" class="action-item" th:data-id="${j.id}" data-toggle="tooltip" data-placement="bottom" title="Asistencia">
	                    <i class="fas fa-tasks"></i>
	                  </a>
                    </div>
                    
                  </div>  
					
                    <strong><span class="text-sm text-muted"><i class="far fa-clock mr-2"></i>Inicio</span></strong>
                    <br>
                    <strong><span class="text-sm text-muted badge badge-white" th:text="${#dates.format(j.horaInicio, 'dd/MMM/yyyy HH:mm')}"></span></strong>
                    <br>
                    <strong><span class="text-sm text-muted"><i class="far fa-clock mr-2"></i>Fin</span></strong>
                    <br th:with="numeroJornada=${numeroJornada+'1'}">
                    <strong><span class="text-sm text-muted badge badge-white"  th:text="${#dates.format(j.horaFin, 'dd/MMM/yyyy HH:mm')}"></span></strong>
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
			
		</div>
		       
       
        	
        	   	
        </div>
      </div>
      
    </div>
    <div th:replace="educacion_continua/jornada/formModal :: modalRegistro"></div>
    <script th:inline="javascript">
    var idEducacionContinua = [[${educacionContinua.id}]];
    
    </script>
  <!-- Footer -->
      <div th:replace="layouts/footer :: footer"></div>
      <div th:replace="layouts/layout3 :: scripts"></div>
  
</body>

</html>