<html xmlns:th="http://www.thymeleaf.org"
	xlmns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout :: head">
<meta charset="UTF-8" />
</head>

<body class="index-page sidebar-collapse">
	<header th:replace="layouts/layout :: header"></header>
	<div th:replace="layouts/layout :: encabezado"></div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<div class="col-md-12">
					

					<h2>JORNADAS</h2>
					<h3>Educación Continua:</h3><p th:text="${educacionContinua.nombre}"></p>
					<a class="btn btn-primary" th:href="@{/educacion-continua/{id}/jornadas/registro(id=${educacionContinua.id})}">Agregar
						Jornada</a>
					<table id="myTable" class="row-border" style="width: 100%">
						<thead>
							<tr>
								<th>fecha</th>
								<th>hora inicio</th>
								<th>Fecha fin</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="j: ${educacionContinua.jornadas}">
								<td th:text="${j.fecha}"></td>
								<td th:text="${j.horaInicio}"></td>
								<td th:text="${j.horaFin}"></td>
								<td><a th:href="@{/educacion-continua/{id_ec}/jornadas/registro/{id_jornada}(id_ec=${educacionContinua.id}, id_jornada=${j.id})}"
									class="btn btn-primary btn-fab btn-round"  data-toggle="tooltip" data-placement="top" title="Editar"> <i
										class="material-icons">edit</i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>
</body>
</html>