#divLoader{
	height:350px; 
	width:100%; 
	background-color:white; 
	z-index: 2;  
	vertical-align:center; 
	text-align:center; 
	display: none; /*debe ser flex al mostrar*/
   align-items: center; 
   flex-direction: column; 
   justify-content: center; 
}

#divSpinner{
	
	margin:0px auto;
	width: 4rem;
    height: 4rem;
    color:#bc0017
}
#btnSpinnerInscripcion{
	display:none;
}
#divSpinnerInscripcion{
	
	margin:0px auto;
	width: 1rem;
    height: 1rem;
    color:#fff
}

#divContentform{
	z-index: 1;position: absolute;
}

