<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div class="modal fade" id="modalRecuperacionEmail" tabindex="-1" role="dialog" aria-labelledby="modalRecuperacionEmail" aria-hidden="true" th:fragment="modalRecuperacion">
    <div class="modal-dialog" role="document">
        <form>
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title d-flex align-items-center" id="modal-title-change-username">
                        <div>
                            <div class="icon icon-sm icon-shape rounded-circle shadow mr-3">
                                <i class="fas fa-edit"></i>
                            </div>
                        </div>
                        <div>
                            <h6 class="mb-0 text-white">Solicitud Cambio Email</h6>
                        </div>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-white">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                <label class="form-control-label reglasForms">Los campos marcados con</label> <label class="requerido pl-2">*</label> <label class="form-control-label reglasForms">son obligatorios</label>
                     <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label">Documento</label><label class="requerido pl-2">*</label>
                                <input class="form-control" id="documentoRecovery" type="text" data-toggle="autosize"/>
                            	<small class="form-text text-danger"><strong id="errorDocumentoRecovery"></strong></small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="form-control-label">Email</label><label class="requerido pl-2">*</label>
                                <input class="form-control" id="emailRecovery" type="text" data-toggle="autosize"/>
                            	<small class="form-text text-danger"><strong id="errorEmailRecovery"></strong></small>
                            </div>
                        </div>
                    </div>
                    
                </div>
                 <div class="modal-footer">
			      	<div class="row">
			      			<button type="button" data-dismiss="modal" class="btn btn-sm btn-red-ufps"><i class="fas fa-times"></i> Cancelar</button>
			               	<button type="button" onclick="solicitarCambioEmail()" class="btn btn-sm btn-red-ufps" id="btnEmailRecovery"><i class="fas fa-save"></i> Guardar</button>
			         		<div>
				         		<button class="btn btn-primary btn-sm btnSpinner" type="button" id="btnSpinnerRecuperacionEmail" disabled>
									  <div class="spinner-border text-white mr-2 divSpinnerBtn" role="status">
									  <span class="sr-only">Loading...</span>
									</div> Procesando
								</button>
							</div>
			         	
			         </div>
			      </div>
                
                
            </div>
        </form>
    </div>
</div>
</body>
</html>