<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
        <div class="row">
		<!-- Swiper -->
		  <div class="swiper-container">
		    <div class="swiper-wrapper">
		    
		      <div class="card swiper-slide" th:each="edc:${educacionesRecientes}" style="overflow: hidden;">
		      		 <center>
					    <div class="card-header">
					        <div class="d-flex align-items-center">
					           
						            <div class="icon-text pl-2">
						                <h6 class="text-sm font-weight-bold mb-0"><strong><a class="red-ufps" th:href="@{/preinscripcion/{nombre}(nombre=${edc.nombre})}" th:text="${edc.nombre}"></a></strong></h6>
						                <i class="far fa-calendar-alt"></i><span class="badge badge-secondary" th:text="${#dates.format(edc.fechaInicio, 'dd/MM/yyyy') + ' - ' + #dates.format(edc.fechaFin, 'dd/MM/yyyy')}"></span>
						                <br>
						                <span class="badge badge-red-ufps" th:text="${edc.tipoEduContinua.tipoEduContinua}"></span>
						    			<span class="badge badge-red-ufps" th:text="${edc.programaResponsable.programa}"></span>
						           	</div>
					            
					        </div>
					    </div>
					    </center>
					    <div class="col-md-12"  style="object-fit: cover; object-position: center center;">
					    		 <a th:href="@{/preinscripcion/{nombre}(nombre=${edc.nombre})}">
					    <img alt="Image placeholder" th:src="@{${edc.imagen}}" class="img-fluid rounded">
						</a>
					    	</div>
					    
		      </div>
		      
		      
		    </div>
		    <!-- Add Pagination -->
		    <div class="swiper-pagination"></div>
		  </div>
			
		
		</div>
		<div class="row">
		<div class="jumbotron" >
		<div class="title">
		<h4 class="text-dark"><strong>PANEL DE EVENTOS</strong></h4>
		</div>
		<hr/>
<div class="row">
		<div class="col-lg-10 center" th:each="ec:${educacionesContinuas}">
			
			<div class="card bg-gradient-card-ufps px-4 py-3 hover-scale-110">
			    
			    <div class="card-body">
			    <div class="row">
			    <div class="col-md-8">
			    
			        <h6 class="h6 text-dark"><strong style="font-family:'mv boli';"><a class="red-ufps" th:href="@{/preinscripcion/{nombre}(nombre=${ec.nombre})}" th:text="${ec.nombre}"></a></strong></h6>
			       	
			       	<table>
			       		<tr>
			       			<td class="p text-dark text-sm"><strong>Fecha Inicio: </strong></td>
			       			<td class="p text-dark text-sm" th:text="${#strings.capitalizeWords(#dates.format(ec.fechaInicio, 'dd MMMM yyyy HH:mm'))}"></td>
			       		</tr>
			       		<tr>
			       			<td class="p text-dark text-sm"><strong>Fecha Fin: </strong></td>
			       			<td class="p text-dark text-sm" th:text="${#strings.capitalizeWords(#dates.format(ec.fechaFin, 'dd MMMM yyyy HH:mm'))}"></td>
			       		</tr>
			       		<tr>
			       			<td class="p text-dark text-sm"><strong>Fecha Límite Inscripción: </strong></td>
			       			<td class="p text-dark text-sm" th:text="${#strings.capitalizeWords(#dates.format(ec.fechaLimInscripcion, 'dd MMMM yyyy HH:mm'))}"></td>
			       		</tr>
			       		<tr>
			       			<td class="p text-dark text-sm"><strong>Cupos Disponibles: </strong></td>
			       			<td><span class="badge badge-danger" th:text="${ec.cantMaxParticipantes}"></span></td>
			       		</tr>
			       		<tr>
			       			<td class="p text-dark text-sm"><strong>Estado: </strong></td>
			       			<td class="p text-dark text-sm" th:text="${ec.estado}"></td>
			       		</tr>
			       	</table>
			       	<span class="badge badge-dark" th:text="${ec.tipoEduContinua.tipoEduContinua}"></span>
			       	<span class="badge badge-dark" th:text="${ec.programaResponsable.programa}"></span>
			       	<span class="badge badge-dark" th:text="${ec.tipoBeneficiario.tipoBeneficiario}"></span>
			       </div>
			       <div class="col-md-4 pt-3">
			       		<a th:href="@{${ec.imagen}}" data-fancybox th:data-caption="${ec.nombre}">
								 <img th:src="@{${ec.imagen}}" class="img-fluid rounded">
							  </a>
			       </div>
			    </div>
			    </div>
			</div>

		</div>
		
	</div>
	<nav th:replace="layouts/paginator :: paginator"></nav>
</div>
		
		</div>
		
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
</body>

</html>