<html xmlns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout :: head"></head>

<body class="index-page sidebar-collapse">
	<header th:replace="layouts/layout :: header"></header>
	<div th:replace="layouts/layout :: encabezado"></div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<div class="col-md-6">
					<h2>EDUCACIÓN CONTINUA</h2>
					
					<div th:each="ec: ${educacionesContinuas}">
					<a th:href="@{/educacion-continua/{id}/detalles(id=${ec.id})}"
									class="btn btn-primary btn-round" th:text="${ec.nombre}"></a>
					<p th:text="fechaInicio +': '+${ec.fechaInicio}"></p>
					<p th:text="fechaInscripción +': '+${ec.fechaLimInscripcion}"></p>
					<p th:text="duracion +': ' +${ec.duracion}"></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>
</body>

</html>
