<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout :: head">
</head>

<body class="index-page sidebar-collapse">
	<header th:replace="layouts/layout :: header"></header>
	<div th:replace="layouts/layout :: encabezado"></div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
					<div class="col-md-12">
					<div class="cardi">
				        <div class="cardi-header cardi-header-rose" align="center">
				            <h2 class="cardi-title">EVENTOS ACTIVOS</h2>
				        </div>
				    </div>
				    </div>
					<div class="row"  >
					
					<div class="col-md-6" th:each="ec: ${educacionesContinuas}">
					<div class="card">
				        
					<div class="card-header-rose" align="center">
				           
					<h2 class="card-title" th:text="${ec.nombre}"></h2>
					</div>
					<div class="card-body" align="center">				
<!-- 					<p th:text="fechaInicio +': '+${ec.fechaInicio}"></p> -->
<!-- 					<p th:text="fechaInscripción +': '+${ec.fechaLimInscripcion}"></p> -->
<!-- 					<p th:text="duracion +': ' +${ec.duracion}"></p> -->
					<h4> Deberia ir una desripcion del curso de educacion continua a visualizar</h4>
					<a th:href="@{/educacion-continua/{id}/detalles(id=${ec.id})}"> Ver mas</a>
					</div>
					</div>
				</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	

	<footer th:replace="layouts/layout :: footer"></footer>
</body>

</html>