<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
       <nav aria-label="breadcrumb">
		  <ol class="breadcrumb breadcrumb-links">
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/}">Inicio</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Pre-inscripción</li>
		  </ol>
		</nav>
        <!-- Page title -->
       	<div class="contenido ml-3 mr-3 pb-2" >
        
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-dark" ><strong>INSCRIPCIÓN</strong></h5>
	              
              </div>
            </div>
            
          </div>
        </div>
        <hr/>
		<div class="row">
        
        <div class="col-md-12">
        	<div class="card">
        	<div class="card-header">
        		<center>
        			<h6 class="card-title mb-0">Información Evento</h6>
        		</center>
        	</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
		            <div class="col-12 col-md-6">
		             
	    			<table>
	    				<thead>
	    				<tr>
	    					<td><span class="text-white badge badge-red-ufps">Información Básica</span></td>
	    				</tr>
	    				</thead>
	    				<tbody>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Tipo</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.tipoEduContinua}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Nombre</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.nombre}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Fecha Inicio</strong></td>
		    					<td class="text-sm" th:text="${#strings.capitalizeWords(#dates.format(requisitosInscripcion.educacionContinua.fechaInicio, 'dd MMMM yyyy'))}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Fecha Fin</strong></td>
		    					<td class="text-sm" th:text="${#strings.capitalizeWords(#dates.format(requisitosInscripcion.educacionContinua.fechaFin, 'dd MMMM yyyy'))}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Duración (horas)</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.duracion}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Lugar</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.lugar}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Abierto a</strong></td>
		    					<td class="text-sm">
		    						<span class="badge badge-dark mr-1" th:each="tb:${requisitosInscripcion.educacionContinua.tipoBeneficiarios}" th:text="${tb.homologacion}"></span>
		    					</td>
		    				</tr>
		    			</tbody>
	    			</table>
		              
		            </div>
		            <div class="col-md-6">
		            	<table>
		            		<thead><tr><td><span class="text-white badge badge-red-ufps">Imagen</span></td></tr></thead>
		            		<tbody>
		            		<tr><td>
				              <a th:href="@{'/'+${requisitosInscripcion.educacionContinua.imagen}}" data-fancybox data-caption="My caption">
								 <img th:src="@{'/'+${requisitosInscripcion.educacionContinua.imagen}}" class="img-fluid rounded">
							  </a>
							  </td></tr></tbody>
		            	</table>
		              	
		            </div>
		          </div>
		          <br>
		          <div class="row">
		            <div class="col-12 col-md-6">
		            	<table>
		    				<thead>
		    				<tr>
		    					<td><span class="text-white badge badge-red-ufps">Información Participantes</span></td>
		    				</tr>
		    				</thead>
		    				<tbody>
			    				<tr>
			    					<td class="h6 text-sm"><strong>Fecha Límite Inscripción</strong></td>
			    					<td class="text-sm" th:text="${#strings.capitalizeWords(#dates.format(requisitosInscripcion.educacionContinua.fechaLimInscripcion, 'dd MMMM yyyy'))}"></td>
			    				</tr>
			    				<tr>
			    					<td class="h6 text-sm"><strong>Costo</strong></td>
			    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.costoInscripcion}"></td>
			    				</tr>
			    				<tr>
			    					<td class="h6 text-sm"><strong>Cantidad (Máx) Participantes</strong></td>
			    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.cantMaxParticipantes}"></td>
			    				</tr>
			    				<tr>
			    					<td class="h6 text-sm"><strong>Participantes Inscritos</strong></td>
			    					<td class="text-sm" th:text="${requisitosInscripcion.totalInscritos}"></td>
			    				</tr>
			    			</tbody>
		    			</table>
		            	<div th:if="${requisitosInscripcion.isHasCupos() and requisitosInscripcion.isHasCoincidenciasBeneficiario() and not requisitosInscripcion.isEstaInscrito() }">
						<a href="#" onclick="realizarInscripcion()" 
									class="btn btn-primary btn-sm" id="btn_inscripcion">INSCRIBETE!
								</a>
						
						</div>
						<div th:if="${not requisitosInscripcion.isHasCoincidenciasBeneficiario()}">
							<span class="badge badge-info">No puedes inscribirte, no perteneces al público al cual se ofertó</span>
						</div>
						<div th:if="${not requisitosInscripcion.isHasCupos() and requisitosInscripcion.isHasCoincidenciasBeneficiario() }">
							<span class="badge badge-info">No puedes inscribirte, el cupo esta completo</span>
						</div>
						
						<div th:if="${requisitosInscripcion.isEstaInscrito() and requisitosInscripcion.participante.tipoParticipante == 'Asistente'}">
							<a href="#" onclick="cancelarInscripcion()" 
									class="btn btn-primary btn-sm" id="btn_inscripcion">CANCELAR INSCRIPCIÓN!
								</a>
						</div>
						<div th:if="${requisitosInscripcion.isEstaInscrito() and requisitosInscripcion.participante.tipoParticipante == 'Ponente'}">
							<span class="badge badge-dark">Te encuentras inscrito(a) como 'PONENTE'</span>
						</div>
						
		              
		            </div>
		            <div class="col-12 col-md-6">
		            	<table>
		    				<thead>
		    				<tr>
		    					<td><span class="text-white badge badge-red-ufps">Información Adicional</span></td>
		    				</tr>
		    				</thead>
		    				<tbody>
			    				<tr>
			    					<td class="h6 text-sm"><strong>Requisitos</strong></td>
			    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.requisitos}"></td>
			    				</tr>
			    				<tr>
			    					<td class="h6 text-sm"><strong>Contenido General</strong></td>
			    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.contenidoGral}"></td>
			    				</tr>
			    				<tr>
			    					<td class="h6 text-sm"><strong>Objetivos</strong></td>
			    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.objetivo}"></td>
			    				</tr>
			    				<tr>
			    					<td class="h6 text-sm"><strong>Resumen</strong></td>
			    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.resumen}"></td>
			    				</tr>
			    			</tbody>
		    			</table>
		              
		              
						
		            </div>
		          </div>
				</div>
			</div>
		
          		  
		        </div>
		        </div>
		        </div>
		        
        	</div>
        
		</div>
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    <div th:replace="educacion_continua/tarjetas_inscripcion/canvas_modal :: canvas"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
  <script th:inline="javascript">
  var idEduContinua= [[${requisitosInscripcion.educacionContinua.id}]];
  var listTipoPersonaValidInscripcion= [[${requisitosInscripcion.listTipoPersonaValidInscripcion}]];
  console.log("idEduContinua");
  console.log(idEduContinua);
  console.log("tipos persona para inscripcion");
  console.log(listTipoPersonaValidInscripcion);
  </script>
  <script th:src="@{/js/inscripcion.js}" type="text/javascript"></script>
</body>

</html>