<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
       <nav aria-label="breadcrumb">
		  <ol class="breadcrumb breadcrumb-links">
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/}">Inicio</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Pre-inscripción</li>
		  </ol>
		</nav>
        <!-- Page title -->
       	<div class="contenido ml-3 mr-3 pb-2" >
        
		<div class="row">
        
        <div class="col-md-12">
        	
        	
				
        	
        	
        	
        	
        	
        	
        	
        	
        	
        	
        
        
        
        
        <div class="card">
        
        	<div class="card-header">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block text-dark">
                <h6 class="h5 d-inline-block  mb-0  text-dark"><strong>INFORMACIÓN</strong></h6>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
              
              		<div th:if="${requisitosInscripcion.isAbleToInscription() and not requisitosInscripcion.isEstaInscrito() }">
						<a href="#" onclick="realizarInscripcion()" 
									class="btn btn-primary btn-sm" id="btn_inscripcion">INSCRIBETE!
								</a>
						
						</div>
						<div th:if="${requisitosInscripcion.isEstaInscrito() and requisitosInscripcion.participante.tipoParticipante == 'Asistente'}">
							<a href="#" onclick="cancelarInscripcion()" 
									class="btn btn-primary btn-sm" id="btn_inscripcion">CANCELAR INSCRIPCIÓN!
								</a>
						</div>
						<div>
							<button class="btn btn-primary btn-sm" type="button" id="btnSpinnerInscripcion" disabled>
								  <div class="spinner-border text-white mr-2" role="status" id="divSpinnerInscripcion">
								  <span class="sr-only">Loading...</span>
								</div> Procesando
							</button>
						</div>
						
						<div style="font-size:1rem " th:if="${not requisitosInscripcion.isEstaInscrito() and not requisitosInscripcion.isAbleToInscription()}" class="alert alert-danger" role="alert">
							<label th:text="${requisitosInscripcion.mensajeNoInscripcion}"></label>
						</div>
						
						<div style="font-size:1rem" th:if="${requisitosInscripcion.isEstaInscrito() and requisitosInscripcion.participante.tipoParticipante == 'Ponente'}" class="alert alert-info" role="alert">
							<label> Te encuentras inscrito(a) como 'PONENTE'</label>
						</div>
						
              
            </div>
          </div>
        </div>
        
        
        
        
        
        
        	
    
        	
        	<div class="card-body">
        		<div class="row col-md-12">
        	<div class="col-md-5 " style="display: flex;
   align-items: center;" >
        	<div style="margin: 0 auto;">
        		<a sth:href="@{'/'+${requisitosInscripcion.educacionContinua.imagen}}" data-fancybox data-caption="My caption">
								 <img th:src="@{'/'+${requisitosInscripcion.educacionContinua.imagen}}" class="img-fluid rounded">
							  </a>
							  </div>
        	</div>
        	<br>
        	
        	<div class="col-md-7"  >
        	<div th:fragment="infoEducacionContinua" id="div_info_educacionContinua">
        		<div class="mt-3 col-md-12 table-responsive" >
        			<table class="table align-items-center col-md-12">
	    				<tbody>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Tipo</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.tipoEduContinua}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Nombre</strong></td>
		    					<td class="text-sm td2" th:text="${requisitosInscripcion.educacionContinua.nombre}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Fecha Inicio</strong></td>
		    					<td class="text-sm" th:text="${#strings.capitalizeWords(#dates.format(requisitosInscripcion.educacionContinua.fechaInicio, 'dd MMMM yyyy HH:mm'))}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Fecha Fin</strong></td>
		    					<td class="text-sm" th:text="${#strings.capitalizeWords(#dates.format(requisitosInscripcion.educacionContinua.fechaFin, 'dd MMMM yyyy HH:mm'))}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Duración (horas)</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.duracion}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Lugar</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.lugar}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Estado</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.estado}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm td2"><strong>Fecha Límite Inscripción</strong></td>
		    					<td class="text-sm" th:text="${#strings.capitalizeWords(#dates.format(requisitosInscripcion.educacionContinua.fechaLimInscripcion, 'dd MMMM yyyy HH:mm'))}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Costo Inscripción</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.educacionContinua.costoInscripcion != '' and requisitosInscripcion.educacionContinua.costoInscripcion !='GRATUITO' } ? ('$ '+${#numbers.formatDecimal(requisitosInscripcion.educacionContinua.costoInscripcion, 0, 'COMMA', 0, 'POINT')}):'No Aplica'"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm td2"><strong>Cantidad (Máx) Participantes</strong></td>
		    					<td class="text-sm td2" th:text="${requisitosInscripcion.educacionContinua.cantMaxParticipantes != ''} ? ${requisitosInscripcion.educacionContinua.cantMaxParticipantes}:'No Aplica'"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Participantes Inscritos</strong></td>
		    					<td class="text-sm" th:text="${requisitosInscripcion.totalInscritos}"></td>
		    				</tr>
		    				<tr>
		    					<td class="h6 text-sm"><strong>Abierto a</strong></td>
		    					<td class="text-sm">
		    						<span class="badge badge-dark mr-1" th:each="tb:${requisitosInscripcion.educacionContinua.tipoBeneficiarios}" th:text="${tb.homologacion}"></span>
		    					</td>
		    				</tr>
		    			</tbody>
	    			</table>
		              
        		</div>
        		
        	</div>
        	</div>
        </div>
        <div class="row">
		            		<div class="col-md-12">
				            	<table>
				    				<tbody>
					    				<tr>
					    					<td class="h6 text-sm"><strong>Detalles</strong></td>
					    				</tr>
					    				<tr>
					    					<td class="text-sm">[(${requisitosInscripcion.educacionContinua.infoAdicional})]</td>
					    				</tr>
					    				
					    			</tbody>
				    			</table>
				    		</div>
		              	</div>
        
        
        	</div>
        
        </div>
        
        
        
        
        
        
        
		        </div>
		        
        	</div>
        
		</div>
	  </div>
    
    </div>
    
    <div th:replace="layouts/footer :: footer"></div>
    <div th:replace="educacion_continua/tarjetas_inscripcion/canvas_modal :: canvas"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
  <script th:inline="javascript">
  var idEduContinua= [[${requisitosInscripcion.educacionContinua.id}]];
  var idAccesoEduContinua= [[${requisitosInscripcion.educacionContinua.idAcceso}]];
  var listTipoPersonaValidInscripcion= [[${requisitosInscripcion.listTipoPersonaValidInscripcion}]];
  console.log("idEduContinua");
  console.log(idEduContinua);
  console.log("tipos persona para inscripcion");
  console.log(listTipoPersonaValidInscripcion);
  console.log("idEduContinuaAcceso");
  console.log(idAccesoEduContinua);
  </script>
  <script th:src="@{/js/inscripcion.js}" type="text/javascript"></script>
</body>

</html>