<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head">
<meta charset="UTF-8" />
</head>
<body>
	<!-- Application container -->
	
	<div class="container-fluid container-application">
		<!-- Content -->
		<div class="main-content position-relative">
			<!-- Main nav -->
			<div th:replace="layouts/logosHead :: logosHead"></div>
			<nav th:replace="layouts/navbar :: navbar"></nav>

			
			<!-- Page content -->
			<div class="page-content col-lg-9 center" id="divContentForm">
				<!-- Project cards -->
				<!-- Page title -->
				<div class="contenido ml-3 mr-3 pb-2">
				
					<br>
					<div class="page-title">
						<div class="row justify-content-between align-items-center">
							<div
								class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
								<!-- Page title + Go Back button -->
								<div class="d-inline-block">
									<h5 class="h4 d-inline-block font-weight-400 mb-0 text-dark">
										<strong>Formulario Registro Usuarios</strong>
									</h5>
								</div>
							</div>
						</div>
					</div>
					<hr />
					<div th:replace="loader :: loader"></div>
					<div th:fragment="formRegistroNuevaPersona" id="formUsuario">
					<label class="reglasForms">Los campos marcados con</label> <label class="requerido pl-2">*</label> <label class="reglasForms">son obligatorios</label>
						
							<div id="infoBasica">

								<div class="card">
									<div class="card-body">
										<!-- General information -->
										<div class="row">
											<span class="badge badge-red-ufps">Información Personal</span>
										</div>
										<div class="row">
											<div class="col-md-4">
												<div class="form-group">
													<label class="form-control-label">Tipo Documento</label><label class="requerido pl-2">*</label> <select
														class="form-control" data-toggle="select"
														id="selectTipoDoc">
														<option value="0">Seleccione Tipo Documento...</option>
														<option th:each="t: ${tipos_documento}" th:value="${t.id}"
															th:text="${t.tipoDocumento + ' - ' +t.descripcion}" th:selected="${persona.tipoDocumento == t.id}"></option>
													</select> <small class="form-text text-danger"><strong id="errorTipoDoc"></strong></small>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="form-control-label">Número Documento</label><label class="requerido pl-2">*</label>
													<input class="form-control" type="text"
														placeholder="Ingrese su número de documento..." th:value="${persona.numeroDocumento}"
														id="numDoc" /> <small class="form-text text-danger"><strong id="errorNumeroDocumento"></strong></small>
												</div>
											</div>
											<div class="col-md-4">
												<div class="form-group">
													<label class="form-control-label">Fecha Expedición
														Documento</label><label class="requerido pl-2">*</label> <input type="text"
														class="form-control flatpickr-input" data-toggle="date"
														placeholder="Seleccione fecha..." id="fechaExp" th:value="${#dates.format(persona.fechaExpedicionDocumento, 'dd/MM/yyyy')}" /> <small
														class="form-text text-danger"><strong id="errorFechaExp"></strong></small>
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="form-control-label">Primer Nombre</label><label class="requerido pl-2">*</label> <input
														class="form-control" type="text"
														placeholder="Ingrese su primer nombre..." id="primNom" th:value="${persona.primerNombre}"/>
													<small class="form-text text-danger"><strong id="errorPrimerNombre"></strong></small>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="form-control-label">Segundo Nombre</label> <input
														class="form-control" type="text"
														placeholder="Ingrese su segundo nombre..." id="segNom" th:value="${persona.segundoNombre}"/>
													<small class="form-text text-danger"><strong id="errorSegundoNombre"></strong></small>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="form-control-label">Primer Apellido</label><label class="requerido pl-2">*</label> <input
														class="form-control" type="text"
														placeholder="Ingrese su primer apellido..." id="primApe" th:value="${persona.primerApellido}"/>
													<small class="form-text text-danger"><strong id="errorPrimerApellido"></strong></small>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="form-control-label">Segundo Apellido</label>
													<input class="form-control" type="text" th:value="${persona.segundoApellido}"
														placeholder="Ingrese su segundo apellido..." id="segApe" />
													<small class="form-text text-danger"><strong id="errorSegundoApellido"></strong></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Género</label><label class="requerido pl-2">*</label>
													<div class="col">
														<div
															class="custom-control custom-radio custom-control-inline"
															th:each="g: ${generos}">
															<input type="radio" th:id="${g.genero}" name="genero" th:checked="${persona.genero == g.id}"
																class="custom-control-input" th:value="${g.id}" /> <label
																class="custom-control-label" th:for="${g.genero}"
																th:text="${g.genero}"></label>
														</div>
														<small class="form-text text-danger"><strong id="errorGenero"></strong></small>
													</div>
												</div>
											</div>
										
										</div>
										<div class="row">
											<div class="col-md-13">

												<div class="form-group">
													<label class="form-control-label">Estado Civil</label><label class="requerido pl-2">*</label>

													<div class="col">
														<div
															class="custom-control custom-radio custom-control-inline"
															th:each="e: ${estados_civiles}">
															<input type="radio" th:id="${e.estadoCivil}" th:checked="${persona.estadoCivil == e.id}"
																name="estadoCivil" class="custom-control-input"
																th:value="${e.id}" /> <label
																class="custom-control-label" th:for="${e.estadoCivil}"
																th:text="${e.estadoCivil}"></label>
														</div>
														<small class="form-text text-danger" ><strong id="errorEstadoCivil"></strong></small>

													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-3">
												<div class="form-group">
													<label class="form-control-label">Fecha Nacimiento</label><label class="requerido pl-2">*</label>
													<input type="text" class="form-control flatpickr-input"
														data-toggle="date" th:value="${#dates.format(persona.fechaNacimiento, 'dd/MM/yyyy')}" 
														placeholder="Seleccione su fecha de nacimiento..."
														id="fechaNac" /> <small class="form-text text-danger"><strong id="errorFechaNacimiento"></strong></small>
												</div>
											</div>
											<div class="col-md-3">
												<div class="form-group">
													<label class="form-control-label">Pais Nacimiento</label><label class="requerido pl-2">*</label> <select
														class="form-control" data-toggle="select"
														id="selectPaisNacimiento">
														<option value="0">Seleccione pais...</option>
													</select> <small class="form-text text-danger"><strong id="errorPaisNacimiento"></strong></small>
												</div>
											</div>
											<div class="col-md-3" id="rowDeptoColombia">
												<div class="form-group">
													<label class="form-control-label">Departamento
														Nacimiento</label><label class="requerido pl-2">*</label> <select class="form-control"
														data-toggle="select" id="selectDepartamentoNacimiento">
														<option value="0">Seleccione departamento...</option>
													</select> <small class="form-text text-danger"><strong id="errorDeptoNacimiento"></strong></small>
												</div>
											</div>
											<div class="col-md-3" id="rowMpioColombia">
												<div class="form-group">
													<label class="form-control-label">Municipio
														Nacimiento</label><label class="requerido pl-2">*</label> <select class="form-control"
														data-toggle="select" id="selectMunicipioNacimiento">
														<option value="0">Seleccione municipio...</option>
													</select> <small class="form-text text-danger"><strong id="errorMpioNacimiento"></strong></small>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						<div class="row" >
							<div class="col-lg-6">
								<div class="card pb-5">
									<div class="card-body">
										<div class="row">
											<span class="badge badge-red-ufps">Perfiles Asociados</span>
										</div>
										Por favor seleccione una o varias de las opciones, esta
										información permite determinar el perfil al momento de
										interactuar en el sistema. <label class="requerido pl-2">*</label> <br> <br>
										<div class="row">
											<div class="col-md-12">
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="cbEst" onclick="estudiante()" th:checked="${persona.isEstudiante()}"> <label
														class="custom-control-label" for="cbEst">Estudiante</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="cbDoc" onclick="docente()" th:checked="${persona.isDocente()}" th:disabled="${persona.isDocente()}"> <label
														class="custom-control-label" for="cbDoc">Docente</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="cbAdminvo" onclick="adminvo()" th:checked="${persona.isAdministrativo()}"> <label
														class="custom-control-label" for="cbAdminvo">Administrativo</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="cbGraduado" onclick="graduado()" th:checked="${persona.isGraduado()}" > <label
														class="custom-control-label" for="cbGraduado">Graduado</label>
												</div>
												<div class="custom-control custom-checkbox">
													<input type="checkbox" class="custom-control-input"
														id="cbExt" onclick="externo()" th:checked="${persona.isExterno()}"> <label
														class="custom-control-label" for="cbExt">Externo
														(No vinculado)</label>
												</div>
											</div>
										</div>
										 <small class="form-text text-danger"><strong id="errorPerfiles"></strong></small>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<span class="badge badge-red-ufps">Información de
												Contacto</span>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Email</label><label class="requerido pl-2">*</label> <input
														class="form-control" type="email" th:value="${persona.email}"
														placeholder="Ingrese su email..." id="email" /> <small
														class="form-text text-danger"><strong id="errorEmail"></strong></small>
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Telefono</label><label class="requerido pl-2">*</label> <input
														class="form-control" type="text"  th:value="${persona.telefono}"
														placeholder="Ingrese su telefono de contacto..."
														id="telefono" /> <small class="form-text text-danger"><strong id="errorTelefono"></strong></small>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Dirección</label> <input
														class="form-control" type="text" th:value="${persona.direccion}"
														placeholder="Ingrese su dirección de residencia..."
														id="direccion" /> <small class="form-text text-danger"><strong id="errorDireccion"></strong></small>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" id="divAdicional" style="display:none" >
							<div class="col-lg-12">
								<div class="card">
									<div class="card-body">
										<div id="formEstudiante" style="display:none">
											<div class="row">
												<span class="badge badge-red-ufps">Información
													Académica Estudiante</span>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Programa
															Académico</label><label class="requerido pl-2">*</label> <select class="form-control"
															data-toggle="select" id="programaAsociado">
															<option value="0">Seleccione el programa...</option>
															<option th:each="p: ${programas}" th:value="${p.id}"
																th:text="${p.programa}" th:selected="${persona.programa == p.id}"></option>
														</select> <small class="form-text text-danger"><strong id="errorProgramaEstudiante"></strong></small>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Código</label><label class="requerido pl-2">*</label><input
															class="form-control" type="text" data-mask="0000000" th:value="${persona.codigo}"
															placeholder="0000000" id="codigo" />
													</div>
													<small class="form-text text-danger"><strong id="errorCodigoEstudiante"></strong></small>
												</div>
											</div>
										</div>
										<div id="formDocente" style="display:none">
											<div class="row">
												<span class="badge badge-red-ufps">Información
													Académica Docente</span>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Departamento
															Académico Adscrito(a)</label><label class="requerido pl-2">*</label> <select class="form-control"
															data-toggle="select" id="selectDeptoAdscrito">
															<option value="0">Seleccione el departamento...</option>
															<option th:each="d: ${departamentos}" th:value="${d.id}"
																th:text="${d.departamento}" th:selected="${persona.deptoAdscrito == d.id}"></option>
														</select> <small class="form-text text-danger"><strong id="errorDeptoDocente"></strong></small>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Código</label><label class="requerido pl-2">*</label> <input
															class="form-control" type="text" th:value="${persona.codigoDocente}"
															placeholder="Ingrese su código de docente" id="codDocente" /> <small
															class="form-text text-danger"><strong id="errorCodigoDocente"></strong></small>
													</div>
												</div>
											</div>
											<div class="row" th:if="${persona.id != null and persona.isDocente()}">
												<div class="col-md-6">
													<div class="custom-control custom-switch">
													  <input type="checkbox" class="custom-control-input switch" id="switchEstadoDocente"  th:checked="${persona.isEstadoDocente()}">
													  <label class="custom-control-label" for="switchEstadoDocente"><strong>Estado</strong></label>
													</div>
												</div>
												
											</div>
										</div>
										<div id="formAdministrativo" style="display:none">
											<div class="row">
												<span class="badge badge-red-ufps">Información
													Laboral-Administrativa</span>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Dependencia
															Adscrito(a)</label><label class="requerido pl-2">*</label> <input class="form-control" type="text"
															placeholder="Ingrese la dependencia..." id="dependencia" th:value="${persona.dependencia}" /> <small
															class="form-text text-danger"><strong id="errorDependenciaAdminvo"></strong></small>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Cargo</label><label class="requerido pl-2">*</label> <input
															class="form-control" type="text" th:value="${persona.cargo}"
															placeholder="Ingrese su cargo..." id="cargo"/> <small
															class="form-text text-danger"><strong id="errorCargoAdminvo"></strong></small>
													</div>
												</div>
											</div>
										</div>
										<div id="formGraduado" style="display:none">
											<div class="row">
												<span class="badge badge-red-ufps">Información
													Graduado</span>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Programa
															del cuál se graduó</label><label class="requerido pl-2">*</label> <select class="form-control"
															data-toggle="select" id="selectProgramaGraduado">
															<option value="0">Seleccione el programa...</option>
															<option th:each="p: ${programas}" th:value="${p.id}"
																th:text="${p.programa}" th:selected="${persona.programaGraduado == p.id}"></option>
																
														</select> 
														<small class="form-text text-danger"><strong id="errorProgramaGraduado"></strong></small>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Año</label><label class="requerido pl-2">*</label> <input
															class="form-control" type="text" th:value="${persona.anioGraduado}"
															placeholder="Ingrese el año en el que se graduó cargo..." id="anioGraduado"/> <small
															class="form-text text-danger"><strong id="errorAnioGraduado"></strong></small>
													</div>
												</div>
											</div>
										</div>
										<div id="formExterno" style="display:none">
											<div class="row">
												<span class="badge badge-red-ufps">Información
													Laboral</span>
											</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Profesión</label><label class="requerido pl-2">*</label> <input
															class="form-control" type="text"
															placeholder="Ingrese su profesión..." id="profesion" th:value="${persona.profesion}"/> <small
															class="form-text text-danger"><strong id="errorProfesionExterno"></strong></small>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label class="form-control-label">Empresa en la que labora</label><label class="requerido pl-2">*</label> <input
															class="form-control" type="text" th:value="${persona.empresa}"
															placeholder="Ingrese la empresa..." id="empresa" /> <small
															class="form-text text-danger"><strong id="errorEmpresa"></strong></small>
													</div>
												</div>
											</div>
										</div>
										
										<!-- Save changes buttons -->
										
									</div>
									
								</div>
								
							</div>
						</div>
						<a th:href="@{/}" type="button" sec:authorize="!isAuthenticated()"
											class="btn btn-sm btn-red-ufps"><i class="fas fa-times"></i> Cancelar</a>
						<a th:href="@{/usuarios}" type="button" sec:authorize="isAuthenticated()"
											class="btn btn-sm btn-red-ufps"><i class="fas fa-times"></i> Cancelar</a>
											
	
										<button type="submit"
											class="btn btn-sm btn-red-ufps save"><i class="fas fa-save"></i> Guardar</button>
								
								
								</div>
					
				</div>
			</div>

		</div>
		<div th:replace="layouts/footer :: footer"></div>

	</div>
	<!-- Scripts -->
	<!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
	<div th:replace="layouts/layout :: scripts"></div>
	
	<script type="text/javascript">
		var caso=0;
	    var idPaisNac = null;
	    var idDepNac = null;
	    var idMunNac = null;
    </script>
    <script th:src="@{/js/usuario.js}" type="text/javascript"></script>
	<script th:src="@{/js/registroUsuario.js}" type="text/javascript"></script>
	
	<script th:src="@{/js/validacionRegistroUsuario.js}" type="text/javascript"></script>
	
</body>

</html>