<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<!-- Modal -->

<div class="modal fade"  tabindex="-1" role="dialog" aria-hidden="true" th:fragment="canvas">
    <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
               
                <div class="modal-body">
                    <canvas class="col-md-12 mt-3" id="canvasDiplomaParticipante" width="970" height="750" style="border:1px solid #000000"></canvas>
				</div>
            </div>
    </div>
</div>
</body>
</html>