<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout :: head"></head>
<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine|Changa|Comfortaa|Crimson Pro|Dancing Script|EB Garamond|Faustina|Fira Code|Hepta Slab|Jura|Kreon|Lemonada">
<style type="text/css">
      canvas { border: 1px solid black; }
    </style>
<script type="application/javascript">
    function draw() {
      var canvas = document.getElementById('canvas');
      if (canvas.getContext) {
        var ctx = canvas.getContext('2d');
        var centerX = canvas.width/2;
        ctx.drawImage(document.getElementById('frame'), 0, 0, 660,510);
        //encabezado
        ctx.font = '20px Lemonada';
        ctx.textAlign="center"; 
        ctx.fillText('Universidad Francisco de Paula Santander', centerX, 100);
        ctx.fillText('Facultad de Ingeniería', centerX, 150);
        ctx.fillText('Programa de Ingeniería de Sistemass', centerX, 200);
        ctx.fillText('Certifican que', centerX, 220);
        
        //persona
        ctx.fillText('Jhocel Duvan Suescun Torres', centerX, 240);
        
        
        //ctx.fillStyle = 'rgb(200, 0, 0)';
        //ctx.fillRect(10, 10, 50, 50);

        //ctx.fillStyle = 'rgba(0, 0, 200, 0.5)';
        //ctx.fillRect(30, 30, 50, 50);
        
        //ctx.fillRect(25, 25, 100, 100);
        //ctx.clearRect(45, 45, 60, 60);
        //ctx.strokeRect(50, 50, 50, 50);
        
        //ctx.beginPath();
        //ctx.moveTo(75, 50);
        //ctx.lineTo(100, 75);
        //ctx.lineTo(100, 25);
        //ctx.fill();
        
        //ctx.beginPath();
        //ctx.arc(75, 75, 50, 0, Math.PI * 2, true); // Outer circle
        //ctx.moveTo(110, 75);
        //ctx.arc(75, 75, 35, 0, Math.PI, false);  // Mouth (clockwise)
        //ctx.moveTo(65, 65);
        //ctx.arc(60, 65, 5, 0, Math.PI * 2, true);  // Left eye
        //ctx.moveTo(95, 65);
        //ctx.arc(90, 65, 5, 0, Math.PI * 2, true);  // Right eye
        //ctx.stroke();
      }
    }
  </script>
<body class="index-page sidebar-collapse" onload="draw();">
	<header th:replace="layouts/layout :: header"></header>
	<div th:replace="layouts/layout :: encabezado"></div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<div class="col-md-6">
					<div class="card">
						<div class="card-header card-header-text card-header-primary">
							<div class="card-text">
								<h4 class="card-title">INICIO</h4>
							</div>
						</div>
						<div class="card-body">

							<canvas id="canvas" width="660" height="510"></canvas>
   <div style="display:none;">
     <img id="frame" th:src="@{/template/plantilla/img.jpg}" width="150" height="150"/>
   </div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>
</body>

</html>