<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
        <!-- Page title -->
       	<div class="contenido ml-3 mr-3 pb-2" >
        <br>
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-dark" ><strong>Educación Continua</strong></h5>
	              	
              </div>
            </div>
            
          </div>
        </div>
        <hr/>
        
		<form th:action="@{/educacion-continua/registro}"
										th:object="${educacionContinua}" method="post"
										enctype="multipart/form-data">
					<div class="row">
						<div class="col">
						<div class="col-lg-12">

							<div class="card">
								<div class="card-body">
									<!-- General information -->
									<div class="row">
										<span class="badge badge-danger">Información Evento</span>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label">Tipo Educación Continua</label> <select
													class="form-control" data-toggle="select" th:field="*{tipoEduContinua}">
													<option value="0">Seleccione el tipo...</option>
													<option th:each="tec: ${tipos_educacion_continua}"
														th:value="${tec.id}" th:text="${tec.tipoEduContinua}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label">Clasificación CINE</label> <select
													class="form-control" data-toggle="select" th:field="*{clasificacionCine}">
													<option value="0">Seleccione...</option>
													<option th:each="c: ${clasificacion_cine}"
														th:value="${c.id}" th:text="${c.clasificacionCine}"></option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label">Nombre</label> <input
													class="form-control" type="text"
													placeholder="Ingrese el nombre del evento" th:field="*{nombre}"/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label">Fecha Inicio</label> <input type="text"
													class="form-control flatpickr-input" data-toggle="date"
													placeholder="Seleccione la fecha de inicio..." id="fechaInicioEduCont" th:field="*{fechaInicio}"/>
											</div>
										</div>
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label">Fecha Fin</label> <input type="text"
													class="form-control flatpickr-input" data-toggle="date"
													placeholder="Seleccione la fecha de finalización..." id="fechaFinEduCont" th:field="*{fechaFin}"/>
											</div>
										</div>
									</div>
									<script th:inline="javascript">
									    var fechaInicioEvento = [[*{#dates.format(fechaInicio, 'dd/MM/yyyy')}]];
									    var fechaFinEvento = [[*{#dates.format(fechaFin, 'dd/MM/yyyy ')}]];
									    var fechaLimInscripcionEvento = [[*{#dates.format(fechaLimInscripcion, 'dd/MM/yyyy')}]];
								    </script>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label">Duración(horas)</label> <input
													class="form-control" type="text"
													placeholder="Ingrese la duración del evento..." th:field="*{duracion}"/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label">Imagen</label> 
												<input type="file" class="custom-input-file" name="file" id="inputImagenEvento" multiple />
											    <label for="inputImagenEvento">
											        <i class="fa fa-upload"></i>
											        <span>Choose a file…</span>
											    </label>
											</div>
										</div>
									</div>
									
									
									</div>
								</div>
								<div class="col-lg-12">
									<div class="card">
										<div class="card-body">
											<div class="row">
												<span class="badge badge-danger">Información Organizador</span>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="form-control-label">Programa Académico</label> <select
															class="form-control" data-toggle="select" th:field="*{programaResponsable}">
															<option value="0">Seleccione el programa...</option>
															<option th:each="p: ${programas}"
																th:value="${p.id}" th:text="${p.programa}"></option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="form-control-label">Docente Responsable</label> <select
															class="form-control" data-toggle="select" th:field="*{docenteResponsable}" >
															<option value="0">Seleccione el tipo...</option>
															<option th:each="d: ${docentes}"
																th:value="${d.id}" th:text="${d.codigo + ' - ' + d.primerNombre + ' ' + d.segundoNombre + ' ' + d.primerApellido + ' ' + d.segundoApellido}"></option>
														</select>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							
							<div class="col">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<span class="badge badge-danger">Información Participantes</span>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Tipo Beneficiarios</label> <select
														class="form-control" data-toggle="select" th:field="*{tipoBeneficiario}">
														<option value="0">Seleccione...</option>
														<option th:each="tb: ${tipo_beneficiarios}"
															th:value="${tb.id}" th:text="${tb.tipoBeneficiario}"></option>
													</select>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Fecha Límite Inscripción</label> <input type="text"
														class="form-control flatpickr-input" data-toggle="date"
														placeholder="Seleccione la fecha límite de inscripción..." id="fechaLimInscripcionEduCont" th:field="*{fechaLimInscripcion}" readOnly />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Costo</label> <input
														class="form-control" type="text"
														placeholder="Ingrese el costo que tendrá la inscripción del participante" th:field="*{costo}"/>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Cantidad Participantes(Max)</label> <input
														class="form-control" type="text"
														placeholder="Ingrese la cantidad máxima de participantes" th:field="*{cantMaxParticipantes}"/>
												</div>
											</div>
											
										</div>
										
										
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<span class="badge badge-danger">Información Adicional</span>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Requisitos</label> 
													<textarea class="form-control" data-toggle="autosize" 
													placeholder="Ingrese los requisitos del evento..." rows="1" 
													th:field="*{requisitos}"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Objetivo</label> 
													<textarea class="form-control" data-toggle="autosize" 
													placeholder="Ingrese el objetivo del evento..." rows="1" 
													th:field="*{objetivo}"></textarea>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Contenido General</label> 
													<textarea class="form-control" data-toggle="autosize" 
													placeholder="Ingrese el contenido general del evento" rows="1" 
													th:field="*{contenidoGeneral}"></textarea>
												</div>
											</div>
										</div>
										
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label class="form-control-label">Resumen</label> 
													<textarea class="form-control" data-toggle="autosize" 
													placeholder="Ingrese un resumen del evento..." rows="1" 
													th:field="*{resumen}"></textarea>
												</div>
											</div>
										</div>
									
										
										<!-- Save changes buttons -->
										<button type="submit"
											class="btn btn-sm btn-primary rounded-pill">Save
											changes</button>
										
									</div>
								</div>
							</div>
						</div>
					</div>

				</form>
        
        
		</div>
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
  <script th:src="@{/js/educacionContinua.js}" type="text/javascript"></script>
</body>

</html>