<html xmlns:th="http://www.thymeleaf.org"
	xlmns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layouts/layout :: head">
<meta charset="UTF-8" />
</head>

<body class="index-page sidebar-collapse">
	<header th:replace="layouts/layout :: header"></header>
	<div th:replace="layouts/layout :: encabezado"></div>
	<div class="main main-raised">
		<div class="section section-basic">
			<div class="container">
				<div class="col-md-12">
					<div class="card">
				        <div class="card-header card-header-primary">
				            <h4 class="card-title">Full header coloured</h4>
				            <p class="category">Category subtitle</p>
				        </div>
				        <div class="card-body">
				              The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
				        </div>
				    </div>

					<h2>EDUCACIÓN CONTINUA</h2>
					<a class="btn btn-primary" th:href="@{/educacion-continua/registro}">Agregar
						Educación Continua</a>
					<table id="myTable" class="row-border" style="width: 100%">
						<thead>
							<tr>
								<th>Tipo</th>
								<th>Nombre</th>
								<th>Fecha Inicio</th>
								<th>Fecha Fin</th>
								<th>Fecha Limite Inscripción</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ec : ${educacionesContinuas}">
								<td th:text="${ec.tipoEduContinua.tipoEduContinua}"></td>
								<td th:text="${ec.nombre}"></td>
								<td th:text="${#dates.format(ec.fechaInicio, 'dd-MM-yyyy')}"></td>
								<td th:text="${#dates.format(ec.fechaFin, 'dd-MM-yyyy')}"></td>
								<td th:text="${#dates.format(ec.fechaLimInscripcion, 'dd-MM-yyyy')}"></td>
								<td><a th:href="@{/educacion-continua/{id}/detalles(id=${ec.id})}"
									class="btn btn-primary btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Ver Detalles"> <i
										class="material-icons">search</i>
								</a><a th:href="@{/educacion-continua/registro/} + ${ec.id}"
									class="btn btn-primary btn-fab btn-round"  data-toggle="tooltip" data-placement="top" title="Editar"> <i
										class="material-icons">edit</i>
								</a><a th:href="@{/educacion-continua/{id}/jornadas(id=${ec.id})}"
									class="btn btn-primary btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Jornadas"> <i
										class="material-icons">event</i>
								</a><a th:href="@{/educacion-continua/{id}/ponentes(id=${ec.id})}"
									class="btn btn-primary btn-fab btn-round" data-toggle="tooltip" data-placement="top" title="Ponentes"> <i
										class="material-icons">supervised_user_circle</i>
								</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<footer th:replace="layouts/layout :: footer"></footer>
</body>
</html>