<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
        <!-- Page title -->
       	<div class="contenido ml-3 mr-3 pb-2" >
        <br>
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-dark" ><strong>Educación Continua</strong></h5>
	              <a th:href="@{/educacion-continua/registro}" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4">
	                <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
	              </a>	
              </div>
            </div>
            
          </div>
        </div>
        <hr/>
        
		<div class="row" sec:authorize="hasRole('ROLE_SUPERADMIN')">
          <div class="col-lg-3">
            <div class="card card-stats border-0">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1">Cursos</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantCursos}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-circle-1" th:data-progress="${porcCursos}" th:data-text="${porcCursos} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-stats border-0">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1">Talleres</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantTalleres}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-circle-1" th:data-progress="${porcTalleres}" th:data-text="${porcTalleres} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-stats border-0">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1">Diplomados</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantDiplomados}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-circle-1" th:data-progress="${porcDiplomados}" th:data-text="${porcDiplomados} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-stats border-0">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="p text-muted mb-1">Seminarios, Congresos, Simposios</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantSemConSimp}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-sm" id="progress-circle-1"  th:data-progress="${porcSemConSimp}" th:data-text="${porcSemConSimp} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <div class="card">
          <!-- Card header -->
          <br>
          <!-- Table -->
          <div class="table-responsive">
          <div class="col-lg-12">
            <table id="myTable" style="width: 100%;" class="row-border table align-items-center">
						<thead>
							<tr>
								<th>Tipo</th>
								<th>Programa Académico Organizador</th>
								<th>Docente</th>
								<th>Nombre</th>
								<th>Fecha Inicio</th>
								<th>Fecha Fin</th>
								<th>Fecha Limite Inscripción</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ec : ${educacionesContinuas}">
								<td th:text="${ec.tipoEduContinua.tipoEduContinua}"></td>
								<td th:text="${ec.programaResponsable.programa}"></td>
								<td th:text="${ec.docenteResponsable.primerNombre}"></td>
								<td th:text="${ec.nombre}"></td>
								<td th:text="${#dates.format(ec.fechaInicio, 'dd-MM-yyyy')}"></td>
								<td th:text="${#dates.format(ec.fechaFin, 'dd-MM-yyyy')}"></td>
								<td th:text="${#dates.format(ec.fechaLimInscripcion, 'dd-MM-yyyy')}"></td>
								<td><a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/detalles(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Ver Detalles">
    								<span class="btn-inner--icon"><i class="fas fa-search-plus"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/registro(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Editar">
    								<span class="btn-inner--icon"><i class="fas fa-edit"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/jornadas(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Jornadas">
    								<span class="btn-inner--icon"><i class="far fa-calendar-alt"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110"  href="#" onclick="ponentes(this)" th:data-id="${ec.id}" data-toggle="tooltip" data-placement="top" title="Ponentes">
    								<span class="btn-inner--icon"><i class="fas fa-user-circle"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110"  th:href="@{/educacion-continua/{id}/listado-participantes(id=${ec.id})}" th:data-id="${ec.id}" data-toggle="tooltip" data-placement="top" title="Listado Participantes">
    								<span class="btn-inner--icon"><i class="fas fa-clipboard-list"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110"  th:href="@{/educacion-continua/{id}/personalizar-diploma(id=${ec.id})}" th:data-id="${ec.id}" data-toggle="tooltip" data-placement="top" title="Personalizar Diploma">
    								<span class="btn-inner--icon"><i class="fas fa-clipboard-list"></i></span></a>
    								</td>
    							<!--  <td sec:authorize="hasRole('ROLE_DIRPROGRAMA')">Dir Programa<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/detalles(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Ver Detalles">
    								<span class="btn-inner--icon"><i class="fas fa-search-plus"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/registro/} + ${ec.id}" data-toggle="tooltip" data-placement="top" title="Editar">
    								<span class="btn-inner--icon"><i class="fas fa-edit"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/jornadas(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Jornadas">
    								<span class="btn-inner--icon"><i class="far fa-calendar-alt"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110"  href="#" onclick="ponentes(this)" th:data-id="${ec.id}" data-toggle="tooltip" data-placement="top" title="Ponentes">
    								<span class="btn-inner--icon"><i class="fas fa-user-circle"></i></span></a>
    								</td>	
    							 <td sec:authorize="hasRole('ROLE_DOCENTE')">Docente<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/detalles(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Ver Detalles">
    								<span class="btn-inner--icon"><i class="fas fa-search-plus"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua-a-cargo/{id}/registro(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Editar">
    								<span class="btn-inner--icon"><i class="fas fa-edit"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua-a-cargo/{id}/jornadas(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Jornadas">
    								<span class="btn-inner--icon"><i class="far fa-calendar-alt"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110"  href="#" onclick="ponentes(this)" th:data-id="${ec.id}" data-toggle="tooltip" data-placement="top" title="Ponentes">
    								<span class="btn-inner--icon"><i class="fas fa-user-circle"></i></span></a>
    								</td>	
    							-->
							</tr>
							
						</tbody>
					</table>
					</div>
          </div>
        </div>
		</div>
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    <div th:replace="educacion_continua/ponente/formModal :: modalRegistro"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
  
</body>

</html>