<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
</head>
<body>
  <!-- Application container -->
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
        <!-- Page title -->
        <nav aria-label="breadcrumb">
		  <ol class="breadcrumb breadcrumb-links">
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/}">Inicio</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Educación Continua</li>
		  </ol>
		</nav>
       	<div class="contenido ml-3 mr-3 pb-2" >
       	
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-dark" ><strong>Educación Continua</strong></h5>
	              <a th:href="@{/educacion-continua/registro}" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4">
	                <span class="btn-inner--icon"><i class="fas fa-plus"></i></span>
	              </a>	
              </div>
            </div>
            
          </div>
        </div>
        <hr/>
        <p class="text-dark">El siguiente listado son las educaciones continuas a los cuales usted tiene permisos de gestionar</p>
        <div class="row">
        	<!-- <div class="col-md-3">
        		<div class="row" sec:authorize="hasRole('ROLE_SUPERADMIN')">
          <div class="col-lg-12">
            <div class="card card-stats border-0">
              
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1">Cursos</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantCursos}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  
                  <div class="col-auto">
                    <div class="progress-circle progress-xs" id="progress-circle-1" th:data-progress="${porcCursos}" th:data-text="${porcCursos} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card card-stats border-0">
              
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1">Talleres</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantTalleres}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-xs" id="progress-circle-1" th:data-progress="${porcTalleres}" th:data-text="${porcTalleres} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card card-stats border-0">
              
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="text-muted mb-1">Diplomado</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantDiplomados}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-xs" id="progress-circle-1" th:data-progress="${porcDiplomados}" th:data-text="${porcDiplomados} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card card-stats border-0">
              
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="p text-muted mb-1">Seminarios</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantSeminarios}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-xs" id="progress-circle-1"  th:data-progress="${porcSeminarios}" th:data-text="${porcSeminarios} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card card-stats border-0">
             
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="p text-muted mb-1">Congresos</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantCongresos}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-xs" id="progress-circle-1"  th:data-progress="${porcCongresos}" th:data-text="${porcCongresos} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="card card-stats border-0">
              
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h6 class="p text-muted mb-1">Simposios</h6>
                    <span class="h4 font-weight-bold mb-0 counter" data-from="0" th:data-to="${cantSimposios}" data-speed="500" data-refresh-interval="100"></span>
                  </div>
                  <div class="col-auto">
                    <div class="progress-circle progress-xs" id="progress-circle-1"  th:data-progress="${porcSimposios}" th:data-text="${porcSimposios} + '%'" data-color="primary"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
        	</div>-->
        	<div class="col-md-12">
        		<div class="card">
          <!-- Card header -->
          
          <!-- Table -->
          <div class="card-body">
          	<div class="table-responsive">
          <div class="col-lg-12">
            <table id="myTable" style="width: 100%;" class="row-border table align-items-center">
						<thead>
							<tr>
								<th></th>
								<th>Tipo</th>
								<th class="th2">Programa Académico Organizador</th>
								<th>Nombre</th>
								<th>Fecha Inicio</th>
								<th>Fecha Fin</th>
								<th class="th2">Fecha Limite Inscripción</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="ec : ${educacionesContinuas}">
								<td><a class="action-item action-item-red-ufps hover-scale-110" th:href="@{/educacion-continua/detalles(educacionContinua=${ec.nombre},fecha=${ec.fechaInicio},id=${ec.idAcceso})}"  data-toggle="tooltip" data-placement="left" title="Ver Detalles">
    								<span class="btn-inner--icon"><i class="fas fa-search-plus"></i></span></a>
    								<button class="action-item action-item-red-ufps hover-scale-110 btn-delete-educacionContinua"  th:data-id="${ec.idAcceso}" data-toggle="tooltip" data-placement="left" title="Eliminar">
    								<span class="btn-inner--icon"><i class="fas fa-times"></i></span></button>
    								</td>
    								
								<td th:text="${ec.tipoEduContinua}"></td>
								<td class="td2" th:text="${ec.programaResponsable}"></td>
								<td class="td2" th:text="${ec.nombre}"></td>
								<td th:text="${#dates.format(ec.fechaInicio, 'dd-MM-yyyy HH:mm')}"></td>
								<td th:text="${#dates.format(ec.fechaFin, 'dd-MM-yyyy HH:mm')}"></td>
								<td th:text="${#dates.format(ec.fechaLimInscripcion, 'dd-MM-yyyy HH:mm')}"></td>
								
    							<!--  <td sec:authorize="hasRole('ROLE_DIRPROGRAMA')">Dir Programa<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/detalles(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Ver Detalles">
    								<span class="btn-inner--icon"><i class="fas fa-search-plus"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/registro/} + ${ec.id}" data-toggle="tooltip" data-placement="top" title="Editar">
    								<span class="btn-inner--icon"><i class="fas fa-edit"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/jornadas(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Jornadas">
    								<span class="btn-inner--icon"><i class="far fa-calendar-alt"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110"  href="#" onclick="ponentes(this)" th:data-id="${ec.id}" data-toggle="tooltip" data-placement="top" title="Ponentes">
    								<span class="btn-inner--icon"><i class="fas fa-user-circle"></i></span></a>
    								</td>	
    							 <td sec:authorize="hasRole('ROLE_DOCENTE')">Docente<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua/{id}/detalles(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Ver Detalles">
    								<span class="btn-inner--icon"><i class="fas fa-search-plus"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua-a-cargo/{id}/registro(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Editar">
    								<span class="btn-inner--icon"><i class="fas fa-edit"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110" th:href="@{/educacion-continua-a-cargo/{id}/jornadas(id=${ec.id})}" data-toggle="tooltip" data-placement="top" title="Jornadas">
    								<span class="btn-inner--icon"><i class="far fa-calendar-alt"></i></span></a>
    								<a class="btn btn-rojoufps rounded-circle btn-icon-only hover-scale-110"  href="#" onclick="ponentes(this)" th:data-id="${ec.id}" data-toggle="tooltip" data-placement="top" title="Ponentes">
    								<span class="btn-inner--icon"><i class="fas fa-user-circle"></i></span></a>
    								</td>	
    							-->
							</tr>
							
						</tbody>
					</table>
					</div>
          </div>
          </div>
        </div>
        	</div>
        </div>
		
        
		</div>
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
  <script th:src="@{/js/customEducacionContinua.js}" type="text/javascript"></script>
</body>

</html>