<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/layout :: head">
	<meta charset="UTF-8"/>
	
</head>
<style>
		
	</style>
<body>
  <!-- Application container -->
  
  <div class="container-fluid container-application">
    <!-- Content -->
    <div class="main-content position-relative">
      <!-- Main nav -->
      
      <div th:replace="layouts/logosHead :: logosHead"></div>
      <nav th:replace="layouts/navbar :: navbar"></nav>
      
      <!-- Page content -->
      <div class="page-content col-lg-9 center">
       <!-- Project cards -->
       
       <nav aria-label="breadcrumb">
		  <ol class="breadcrumb breadcrumb-links">
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/}">Inicio</a></li>
		    <li class="breadcrumb-item"><a class="red-ufps-breadcrumb" th:href="@{/educacion-continua}">Educaciones Continuas</a></li>
		    <li class="breadcrumb-item" th:if="${educacionContinua.id != null}"><a class="red-ufps-breadcrumb"  th:href="@{/educacion-continua/detalles?educacionContinua={educacionContinua}(educacionContinua=${educacionContinua.nombre})}">Detalles</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Listado Participantes</li>
		  </ol>
		</nav>
        <!-- Page title -->
       	<div class="contenido ml-3 mr-3 pb-2" >
        <br>
        <div class="page-title">
          <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
              <!-- Page title + Go Back button -->
              <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-dark" ><strong>Listado Participantes</strong></h5>
	              
	              <a target="_blank" th:href="@{/educacion-continua/listado-participantes/{eduContinuaNombre} (eduContinuaNombre=${educacionContinua.nombre})}" data-toggle="tooltip" data-placement="top" title="Generar PDF" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4">
	                <span class="btn-inner--icon"><i class="far fa-file-pdf"></i></span>
	              </a>	
              </div>
            </div>
            
          </div>
        </div>
        <hr/>
        <div class="text-center" id="spinner">
		  <div class="spinner-border" role="status">
		    <span class="sr-only">Loading...</span>
		  </div>
		</div>
		<div class="card" id="cardListado" style="display:none;">
          <!-- Card header -->
          <br>
          <!-- Table -->
          <div class="col-md-4">
          
				</div>		
				<div th:fragment="listadoParticipantes">
				<div class="alert-messages" th:if="${ec.educacionContinua.estado != 'En Desarrollo'}">
				<div class="alert alert-info" role="alert">
				     La asistencia se habilitará una vez la educación continua haya iniciado
				</div>
				</div>			
          <div class="table-responsive">
          <div class="col-lg-12">
            <table id="myTable2" style="width: 100%;"class="row-border table align-items-center" >
						<thead>
							<tr>
								<th>Documento</th>
								<th>Nombre</th>
								<th>Tipo Participante</th>
								<th th:if="${ec.educacionContinua.estado != 'Activo'}">Asistencia<br>
									<input type="checkbox" th:each="j : ${ec.educacionContinua.jornadas}" th:id="${j.id}+'_all'" class="all" th:data-jornada="${j.id}" data-toggle="tooltip" data-placement="top" th:title="${#strings.capitalizeWords(#dates.format(j.horaInicio, 'dd MMMM yyyy HH:mm'))}"/>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p : ${ec.educacionContinua.participantes}">
								<td th:text="${p.tipoDocumento + ' ' + p.numeroDocumento}"></td>
								<td th:text="${p.nombrePersona}"></td>
								<td th:text="${p.tipoParticipante}"></td>
								<td th:if="${ec.educacionContinua.estado != 'Activo'}">
									<input type="checkbox" th:each="j : ${ec.educacionContinua.jornadas}" th:checked="${p.jornadasAsistencias.get(j.id)}" th:class="'checkAsistencia j_'+${j.id}" th:id="${j.id}+'_'+${p.id}" th:data-jornada="${j.id}" th:data-participante="${p.id}" data-toggle="tooltip" data-placement="top" th:title="${#strings.capitalizeWords(#dates.format(j.horaInicio, 'dd MMMM yyyy HH:mm'))}"/>
								</td>
    							
							</tr>
							
						</tbody>
					</table>
					</div>
          </div>
          </div>	
        </div>
		</div>
	  </div>
    
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    
  </div>
  <!-- Scripts -->
  <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
  <div th:replace="layouts/layout :: scripts"></div>
  <script type="text/javascript" th:inline="javascript">
  var mensajeExitoso= [[${successMessage}]];
  if(mensajeExitoso!=null){
	  toastr.success(mensajeExitoso, 'Excelente!',{timeOut:2000});
  }
  var mensajeError= [[${errorMessage}]];
  console.log(mensajeError);
  if(mensajeError!=null){
	  toastr.error(mensajeError, 'Error!',{timeOut:2000});
  }
  </script>
  <script type="text/javascript" th:inline="javascript">
  var token = $("meta[name='_csrf']").attr("content");
  var eduContinua= [[${educacionContinua}]];
  var jornadas= [[${jornadas}]];
  if(jornadas.length>0){
	  var participantes= [[${participantes}]];
	  
	  var asistencias= [[${asistencias}]];
	  var asistenciaGlobal= [[${asistenciaGlobal}]];
	  console.log(participantes.length);
	  console.log("asistencias");
	  
	  console.log(asistencias);
	  console.log("asistenciaGlobal");
	  console.log(asistenciaGlobal);  
  }
  
  if(eduContinua.estado=="Activo"){
	  document.getElementById('cardListado').style.display='flex';
	  document.getElementById('spinner').style.display='none';
  }
  </script>
  <script th:if="${educacionContinua.estado != 'Activo'}" th:src="@{/js/asistencia.js}" type="text/javascript"></script>

</body>

</html>